@model comerciamarketing_webapp.Models.Empresas

@{
    ViewBag.Title = "Comercia Marketing";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Empresas")"><i class="fa fa-angle-right" aria-hidden="true"></i>Customers</a></li>

                </ul>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h6>Edit</h6>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_empresa)


                <div class="form-group">
                    <p class="control-label col-md-2">Name</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-2">SAP Customer ID</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ID_SAP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ID_SAP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-2">Customer business</p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.giro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.giro, "", new { @class = "text-danger" })
                    </div>
                </div>

                
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />|
                        @Html.ActionLink("Back", "Index")
                    </div>
                </div>
            </div>
            }
</div>
</div>
</div>