@model IEnumerable<comerciamarketing_webapp.Models.Empresas>

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Empresas")"><i class="fa fa-angle-right" aria-hidden="true"></i>Customers</a></li>

                </ul>
            </div>
            <p>
                @Html.ActionLink("Add new customer", "Create")
            <p class="col-md-12 text-right">
                <a href="@Url.Action("Waiting_list", "Usuarios")">Waiting List</a>

            </p>
            </p>



            <table class="table">
                <tr>
                    <th>
                        SAP customer name
                    </th>
                    <th>
                        SAP customer ID
                    </th>
                    <th>
                        Customer business
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
        {
            if (item.nombre != "SISTEMA")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_SAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.giro)
                    </td>
                    <td>
                        @if (item.nombre != "SISTEMA")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_empresa }) @Html.Label(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_empresa }) @Html.Label(" | ")
                    <a href="@Url.Action("Index", "Usuarios", new { ID_Empresa = item.ID_empresa })">Users</a>
        }

                    </td>
                </tr>
    }
}

            </table>
        </div>
    </div>
</div>
