
@{
    ViewBag.title = "Comercia Marketing - Calendar Admin Routes";
}


<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="b-b">
            <div class="d-flex padding">
                <div>
                    <h2 class="text-md text-highlight">
                        Scheduled Routes
                    </h2>
                    <small class="text-muted">@DateTime.Today.ToLongDateString()</small>
                    <a class="badge badge-sm badge-pill b-a mx-1" id="todayview">Today</a>
                </div>
                <span class="flex"></span>
                <div>
                    <button data-toggle="modal" data-target="#newEvent" class="btn btn-sm box-shadows btn-rounded gd-primary">
                        Add Route
                    </button>
                </div>
            </div>
            <div class="nav-active-border b-success px-3">
                <ul class="nav text-sm" role="tablist">
                    @*<li class="nav-item">
                            <a class="nav-link" id="dayview" data-toggle="tab">Day</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link active" id="weekview" data-toggle="tab">Week</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" id="monthview" data-toggle="tab">Month</a>
                        </li>*@
                </ul>
            </div>
        </div>

        <div id="fullcalendar" data-plugin="fullCalendar">
            <div class="loading m-4"></div>
        </div>
    </div>
    <!-- ############ Main END-->
</div>
<!-- ############ Content END-->
<!-- modal -->
<div id="newEvent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">New Route</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateRoutev2", "Home", FormMethod.Post, new { id = "formRoute" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="descriptionN" id="descriptionN" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Route type</label>
                        <div class="col-sm-9">
                            <div class="mt-2" id="event-type">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="type" value="Appointment" checked> Merchandising
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Visits</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="hidden" name="listatiendas" id="storesmulti" value="" style="width:100%;" />
                        </div>

                    </div>

                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Sales Reps</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="hidden" id="repmulti" value="" name="listarepresentantes" style="width:100%;" />

                            <input type="checkbox" id="checkboxrep" hidden />


                            <button type="button" id="showValuerep" hidden>Show Value</button>

                            <div id="outputrep" hidden>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" name="date" class="form-control">
                        </div>

                    </div>
                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Estimated completion date</label>
                        <div class="col-sm-9">
                            <input type="date" name="enddate" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row row-sm">
                        <label class="col-sm-3 col-form-label">Repeat</label>
                        <div class="col-sm-9">
                            <select name="cust" class="form-control">
                                <option value="NA">Never</option>
                                <option value="FW">First week of every month</option>
                                <option value="OW">Once a week</option>
                                <option value="OTW">Once every two weeks</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="btn-save" class="btn gd-primary btn-rounded">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- / .modal -->
<!-- .modal -->
<div id="modal-right" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-right w-xl" style="width:800px;">
        <div class="modal-content h-100 no-radius">
            <div class="modal-header ">
                <div class="modal-title text-md">
                    <span class="badge badge-light text-uppercase" id="nameofroute">

                    </span>
                </div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">Date</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" id="daterouteshow"></label>
                            </div>

                        </div>
                        <div class="form-group row row-sm">
                            <label class="col-sm-3 col-form-label">Estimated completion date</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" id="dateendrouteshow"></label>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3" id="repsroute">

                    </div>
                    <div class="col-md-4" id="brandtags">

                        @*<button type="button" class="btn btn-success" data-dismiss="modal">Save</button>*@
                    </div>
                </div>
                <div class="row">
                    <div class="scrollbar col-md-6" id="style-11">
                        <div class="force-overflow">

                            <div id="hiddenDiv" style="display:none">
                                @*<a href="#" id="idroutedel" class="count online ml-auto" data-toggle="modal" data-target="#deleteModal" data-IDr=""><i class="close ml-auto mdi mdi-close-circle-outline"></i>Eliminar Ruta</a>*@


                                <div class="d-flex align-items-center">
                                    <small class="font-weight-bold mr-2 mb-0">Visits</small>
                                    <span class="badge bg-info-lt" id="countVisits">
                                        0
                                    </span>

                                </div>
                                <div class="list list-row" id="appendDivVisits">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="width:100%; height:400px;">
                            <div id="map-with-marker" class="google-map" style="width: 100%; height: 100%">
                                <div class="loading m-4"></div>
                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-4">
                                <small class="text-muted">Distance</small>
                                <div class="mt-2 font-weight-500" id="distanceroute"></div>
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Driving time</small>
                                <div class="text-highlight mt-2 font-weight-500" id="durationroute"></div>
                            </div>
                            <div class="col-4">
                                <small class="text-muted">Duration</small>
                                <div class="mt-2 font-weight-500" id="waypointroute"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-danger mr-auto" href="#" id="idroutedel" data-toggle="modal" data-target="#deleteModal" data-IDr="">Delete Route</a>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createModal">Add Visit</button>

                @*<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- / .modal -->
<!--DELETE DATA STARTS-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteRoute", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Delete Route Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to delete this Route?</label><br />
                        <input type="text" id="ID_routeD" name="ID_routeD" hidden />

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<!--CRESTE USER DATA STARTS-->
<div class="modal fade" id="createModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("CreateVisitRoute", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-account"></i>Add new visit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="ID_route" name="ID_route" value="" hidden />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Store:</label>

                        <div class="form-group">
                            <select class="form-control" name="id_store" id="id_store" style="width:100%">
                                <option value="">Select a store</option>
                                @foreach (var itemStores in ViewBag.storeslst)
                                {
                                    <option value="@itemStores.CardCode">@itemStores.CardCode - @itemStores.CardName</option>
                                }
                            </select>
                        </div>
                        <label class="col-form-label">Date:</label>
                        <div class="form-group">
                            <input type="date" class="form-control" name="date" id="date" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--CREATE USER DATA ENDS-->
<!--DELETE DATA STARTS-->
<div class="modal fade" id="deleteVisitModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteVisit", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Delete Visit Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to delete this Visit?</label><br />
                        <strong><label id="descriptionD" class="col-form-label"></label></strong>
                        <input type="text" id="ID_visitD" name="ID_visitD" hidden />

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/FilterControlAdmin.cshtml")