@model comerciamarketing_webapp.Models.Usuarios

@{
    ViewBag.Title = "Comercia Marketing";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-angle-right" aria-hidden="true"></i>Users</a></li>

                </ul>
            </div>

            <h3>¿Are you sure you want to delete this user?</h3>
            <div>
                
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        User
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.usuario)
                    </dd>
                    <dt>
                        Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.correo)
                    </dd>

                    <dt>
                        SAP customer ID
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ID_clienteSAP)
                    </dd>

                    <dt>
                        SAP customer name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NOM_clienteSAP)
                    </dd>

                    <dt>
                        Total number of visits
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.contador_visitas)
                    </dd>

                    <dt>
                       Last visit
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fultima_visita)
                    </dd>

                    <dt>
                        User registration date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fcreacion_usuario)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back", "Index")
                    </div>
                }
            </div>
            </div>
</div>
</div>