@model IEnumerable<comerciamarketing_webapp.Models.Usuarios>

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Demos")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Users</a></li>

                </ul>
            </div>
            <p>
                @Html.ActionLink("Add new user", "Create_demoU")
            </p>
            <table class="table" style="overflow-x:auto;">
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Total number of visits
                    </th>
                    <th>
                        Last visit
                    </th>
                    <th>
                        Registration date
                    </th>
                    <th>
                        User state
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @if (item.ID_tipomembresia == 1)
    {

    }
    else
    {
                    <!--Aqui va contador de visitas-->
                    @Html.DisplayFor(modelItem => item.telefono)
}

                    </td>
                    <td>
                        <!--Aqui va ultima visita-->
                        @Html.DisplayFor(modelItem => item.contrasena)
                    </td>
                    <td>
                        @if (item.ID_tipomembresia == 1)
        {

        }
        else
        {
                @Html.DisplayFor(modelItem => item.fcreacion_usuario)
}


                    </td>
                    <td>
                        @if (item.cargo == "Waiting for approval")
                        {
                            @Html.ActionLink("Waiting for approval", "preview_w9form","user_form_w9", new { id = item.ID_usuario }, new { target = "_blank" })
                        }
                        else {
                             @Html.DisplayFor(modelItem => item.cargo)

                        }

                       
                    </td>
                    <td>
                        @if (item.ID_rol != 6)
                        {
                        if (item.cargo == "Waiting for approval")
                        {
                            @Html.ActionLink("Confirm user data", "confirm_data","user_form_w9", new { id = item.ID_usuario },null)@Html.Label(" | ")
                        }
                @Html.ActionLink("Edit", "Edit_demoU", new { id = item.ID_usuario }) @Html.Label(" | ")
                @Html.ActionLink("Details", "Details_demoU", new { id = item.ID_usuario }) @Html.Label(" | ")
                @Html.ActionLink("Delete", "Delete_demoU", new { id = item.ID_usuario }) @Html.Label(" | ")
                <a href="@Url.Action("Login_history", "Usuarios", new { id = item.ID_usuario })">Login history</a>
                        }
                        else {
                            @Html.ActionLink("Edit", "Edit_demoU", new { id = item.ID_usuario }) @Html.Label(" | ")
                            <a href="@Url.Action("Login_history", "Usuarios", new { id = item.ID_usuario, modulo="demos" })">Login history</a>

                        }

                    </td>
                </tr>
                }

            </table>
              <p>
                <a href="@Url.Action("Index", "Demos")">Back</a>
            </p>
        </div>
    </div>
</div>
