@model IEnumerable<comerciamarketing_webapp.Models.Usuarios>

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Demos", "Home")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Users</a></li>

                </ul>
            </div>
            <p>
                @Html.ActionLink("Add new user", "Create")
            </p>
            <table class="table" style="overflow-x:auto;">
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Total number of visits
                    </th>
                    <th>
                        Last visit
                    </th>
                    <th>
                        Registration date
                    </th>
                    <th>
                        User activate
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @if (item.ID_tipomembresia == 1)
    {

    }
    else
    {
                    <!--Aqui va contador de visitas-->
                    @Html.DisplayFor(modelItem => item.telefono)
}

                    </td>
                    <td>
                        <!--Aqui va ultima visita-->
                        @Html.DisplayFor(modelItem => item.contrasena)
                    </td>
                    <td>
                        @if (item.ID_tipomembresia == 1)
        {

        }
        else
        {
                @Html.DisplayFor(modelItem => item.fcreacion_usuario)
}


                    </td>
                    <td>
                        @if (item.activo == true)
                        {
                             @Html.Label("Yes")
                        }
                        else {
                            @Html.Label("No")
                        }</td>
                    <td>
                        @if (item.ID_tipomembresia != 1)
        {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_usuario }) @Html.Label(" | ")
                @Html.ActionLink("Details", "Details", new { id = item.ID_usuario }) @Html.Label(" | ")
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_usuario }) @Html.Label(" | ")
                <a href="@Url.Action("Login_history", "Usuarios",new { id=item.ID_usuario })">Login history</a>
}

                    </td>
                </tr>
                }

            </table>
              <p>
                <a href="@Url.Action("Demos", "Home")">Back</a>
            </p>
        </div>
    </div>
</div>
