@model comerciamarketing_webapp.Models.Usuarios

@{
    ViewBag.Title = "Comercia Marketing";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-angle-right" aria-hidden="true"></i>Users</a></li>

                </ul>
            </div>

    
                <h4>Details</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                      Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.correo)
                    </dd>

                    <dt>
                        User
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.usuario)
                    </dd>

                    <dt>
                        Password
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.contrasena)
                    </dd>

                    <dt>
                        SAP customer ID
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ID_clienteSAP)
                    </dd>

                    <dt>
                        SAP customer name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NOM_clienteSAP)
                    </dd>

                    <dt>
                        Total number of visits
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.contador_visitas)
                    </dd>

                    <dt>
                       Last Visit
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fultima_visita)
                    </dd>

                    <dt>
                        User registration date
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fcreacion_usuario)
                    </dd>

                    <dt>
                       Membership
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tipo_membresia.descripcion)
                    </dd>

                </dl>
           
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID_usuario }) |
                @Html.ActionLink("Back", "Index")
            </p>
            </div>
</div>
</div>