@model comerciamarketing_webapp.Models.Usuarios

@{
    ViewBag.Title = "Comercia Marketing";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Empresas")"><i class="fa fa-angle-right" aria-hidden="true"></i>Customers</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Users</a></li>

                </ul>
            </div>
            @if (Session["tipousuario"].ToString() == "6")
    {
        using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h6>Edit</h6>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_usuario)

            <div class="form-group">
                <p class="control-label col-md-2">Email</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.contrasena)

            <div class="form-group">
                <p class="control-label col-md-2">Names</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Last names</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.ID_tipomembresia)

            <div class="form-group">
                <p class="control-label col-md-6">User role</p>
                <div class="col-md-10">
                    @Html.DropDownList("ID_rol", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_tipomembresia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.HiddenFor(model => model.fcreacion_usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fcreacion_usuario, "", new { @class = "text-danger" })
                </div>
            </div>

              <div class="form-group">
                <p class="control-label col-md-4">Send summary?</p>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.activo)
                        @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.ID_empresa, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />|
                    @Html.ActionLink("Back", "Index", new { ID_Empresa = ViewBag.ID_empresaback })
                </div>
            </div>
        </div>
}
}
else
{
using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h6>Edit</h6>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_usuario)

            <div class="form-group">
                <p class="control-label col-md-2">Email</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Password</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Names</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Last names</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Position</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cargo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Telephone number</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">Influence states</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.estados_influencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estados_influencia, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                <p class="control-label col-md-6">Membership</p>
                <div class="col-md-10">
                    @Html.DropDownList("ID_tipomembresia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_tipomembresia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-6">User role</p>
                <div class="col-md-10">
                    @Html.DropDownList("ID_rol", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_tipomembresia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.HiddenFor(model => model.fcreacion_usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fcreacion_usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-4">Active user</p>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.activo)
                        @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.ID_empresa, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />|
                    @Html.ActionLink("Back", "Index", new { ID_Empresa = ViewBag.ID_empresaback })
                </div>
            </div>
        </div>
}

}

        </div>
</div>
</div>