@model IEnumerable<comerciamarketing_webapp.Models.Usuarios>

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Empresas")"><i class="fa fa-angle-right" aria-hidden="true"></i>Customers</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Waiting list</a></li>

                </ul>
            </div>

            <table class="table" style="overflow-x:auto;">
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Telephone number
                    </th>
                    <th>
                        Registration date
                    </th>

                    <th>
                        User activate
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.ID_tipomembresia == 1)
                    {

                    }
                    else
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cargo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fcreacion_usuario)
                    
                    </td>
                    <td>
                        @if (item.activo == true)
                        {
                @Html.Label("Yes")
                        }
                        else
                        {
                @Html.Label("No")
                        }
                    </td>
                    <td>
                        @if (item.ID_tipomembresia != 1)
                        {
                @Html.ActionLink("Edit", "Edit_waiting", new { id = item.ID_usuario }) @Html.Label(" | ")
                @Html.ActionLink("Delete", "Delete_waiting", new { id = item.ID_usuario })
                        }

                    </td>
                </tr>
                    }
                }

            </table>
              <p>
                <a href="@Url.Action("Index", "Empresas")">Back</a>
            </p>
        </div>
    </div>
</div>
