@{

    ViewBag.Title = "Comercia Marketing - Template preview2";
}

@helper OrderedList(IList<comerciamarketing_webapp.Controllers.FormsMController.MyObj_tablapadre> parentList, int parent = 0)
    {
        foreach (var objeto in parentList)
        {
            <!--PARA TITULOS (AUN QUE EN ESTE CASO SOLO TENDRIA QUE HABER 1 SOLO TITULO-->
            if (objeto.id_resource == 1)
            {
                <div class="row">
                    <hr />
                    <div class="form-horizontal">
                        <hr />
                        <h5 class="display-4 text-warning" style="text-align:center;">@objeto.fsource</h5>
                        <hr />
                    </div>
                    <hr />

                </div>
            }
        }
}
@helper OrderedListHeadertable(IList<comerciamarketing_webapp.Controllers.FormsMController.MyObj_tablapadre> parentList, int parent = 0)
    {
        foreach (var objeto in parentList)
        {
            <!--PARA SUBTITULOS -->
            if (objeto.id_resource == 8)
            {

                <th class="none">@objeto.fsource</th>

            }
        }
}
@helper OrderedListRetail(IList<comerciamarketing_webapp.Controllers.FormsMController.MyObj_tablapadre> parentList, int parent = 0)
    {
        foreach (var objeto in parentList)
        {
            <!--PARA PRODUCTOS -->
            if (objeto.id_resource == 3)
            {
                <tr>

                    <td style="text-align:left"><small>@objeto.fdescription</small></td>
                    @if (objeto.children != null)
                    {
                        @OrderedListRetail(objeto.children, objeto.idkey)
                    }

                </tr>
            }


            <!--CHECK SELECCION MULTIPLE -->
            if (objeto.id_resource == 16)
            {
                if (objeto.parent != 0)
                {
                    <td style="text-align:left">
                        <div class="form-check">
                            <label class="form-check-label">
                                @if (objeto.fvalue == 0)
                                {<input type="checkbox" class="form-check-input" name="@("radio_" + objeto.parent)" id="@objeto.idkey">

                                }
                                else
                                {
                                    <input type="checkbox" class="form-check-input" name="@("radio_" + objeto.parent)" id="@objeto.idkey" checked>

                                }
                                &nbsp;
                            </label>
                        </div>
                    </td>
                }


            }



            <!--PARA INPUT NUMBER -->
            if (objeto.id_resource == 18)
            {
                if (objeto.parent != 0)
                {
                    <td style="text-align:left">
                        <div class="form-group">

                            <input type="number" id="@objeto.idkey" class="form-control form-control-sm" value="@objeto.fvalueDecimal" />


                        </div>
                    </td>
                }


            }


            <!--PARA INPUT NUMBER (CURRENCY)-->
            if (objeto.id_resource == 21)
            {
                if (objeto.parent != 0)
                {
                    <td style="text-align:left">
                        <div class="form-group">


                            <span class='currency-symbolv2'>$</span><input type="number" id="@objeto.idkey" class="form-control form-control-sm currency" value="@objeto.fvalueDecimal" />



                        </div>
                    </td>
                }

            }
            <!--PARA INPUT TEXT -->
            if (objeto.id_resource == 6)
            {
                if (objeto.parent != 0)
                {
                    <td>
                        <div class="form-group">

                            <div class="col-md-12">
                                <input type="text" id="@objeto.idkey" class="form-control" />


                            </div>
                        </div>
                    </td>
                }

            }

        }
}

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-right">

                        <a href="@Url.Action("Details", "VisitsMs", new { id=ViewBag.idvisitareal})" class="btn btn-info">Back</a>
                    </div>
                </div>
            </div>


            <input type="text" id="idvisita" hidden value="@ViewBag.idvisita" />

            @OrderedList(ViewBag.details)

            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <table id="retailaudit" class="table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            @OrderedListHeadertable(ViewBag.details)
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @OrderedListRetail(ViewBag.details)
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div><br />

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-right">
                    <input type="submit" value="Save" class="btn btn-success" id="save_activity" style="height:90px; width:130px" />
                    <input type="submit" value="Check out" class="btn btn-danger" id="finish_activity" style="display:none; height:90px; width:130px" />
                    <!--<a href="Url.Action("Index", "Demos")" class="btn btn-default">Back</a>-->
                </div>
            </div>

            @Html.Partial("~/Views/Shared/Footer2.cshtml")
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
