@{

    ViewBag.Title = "Comercia Marketing - Preview Tasks";
}

@helper OrderedList(IList<comerciamarketing_webapp.Controllers.FormsMController.MyObj_tablapadre> parentList, int parent = 0)
    {
        var subcatactual = "";
        var marcaactual = "";
        foreach (var objeto in parentList)
        {
            <!--PARA TITULOS (AUN QUE EN ESTE CASO SOLO TENDRIA QUE HABER 1 SOLO TITULO-->
            if (objeto.id_resource == 1)
            {


                <div class="card p-3 r-3x b-b b-b-danger">
                    <h4 class="" style="text-align:center;">@objeto.fsource</h4>
                </div>

            }
            <!--PARA PRODUCTOS DINAMICOS-->
            if (objeto.id_resource == 11)
            {
                if (ViewBag.mostrarboton == 1)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <p class="control-label col-md-10">@objeto.fdescription</p>
                                <div class="col-md-12">

                                    <input type="button" onClick="cargarproductosAudit(this.id)" value="@objeto.fsource" style="width:100%;" class="btn btn-primary" id="@objeto.idkey" />

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <!--PARA PRODUCTOS DINAMICOS POR CLIENTE-->
            if (objeto.id_resource == 37)
            {
                if (ViewBag.mostrarboton == 1)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <p class="control-label col-md-10">@objeto.fdescription</p>
                                <div class="col-md-12">

                                    <input type="button" onClick="cargarproductosbyCustomer(this.id)" value="@objeto.fsource" style="width:100%;" class="btn btn-primary" id="@objeto.idkey" />

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <!--PARA CUSTOMERS -->
            if (objeto.id_resource == 12)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="control-label col-md-10"> @objeto.fsource (*)</p>
                            <div class="col-md-12">
                                <select id="customer_list" class="form-control" name="@objeto.idkey" style="width:100%" onChange='getBrands()'>
                                    @if (ViewBag.customers.Count == 1)
                                    {
                                        <option value="@ViewBag.customers[0].CardCode" selected>@ViewBag.customers[0].CardCode - @ViewBag.customers[0].CardName</option>
                                    }
                                    else
                                    {
                                        <option value="0">Seleccione un cliente</option>
                                        foreach (var itemCustomer in ViewBag.customers)
                                        {
                                            if (objeto.fvalueText == itemCustomer.CardCode)
                                            {
                                                <option value="@itemCustomer.CardCode" selected>@itemCustomer.CardCode - @itemCustomer.CardName</option>
                                            }
                                            else
                                            {
                                                <option value="@itemCustomer.CardCode">@itemCustomer.CardCode - @itemCustomer.CardName</option>
                                            }


                                        }
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

            }
            <!--PARA BRANDS-->
            if (objeto.id_resource == 13)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="control-label col-md-10"> @objeto.fsource (*)</p>
                            <div class="col-md-12">
                                <select id="brands_list" class="form-control" name="@objeto.idkey" style="width:100%">
                                    <option value="0">Seleccione una marca</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

            }
            <!--PARA SUBTITULOS -->
            if (objeto.id_resource == 8)
            {
                if (objeto.children.Count > 0)
                {
                    if (objeto.children[0].id_resource == 19)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <p class="control-label">@objeto.fsource</p>
                                    <!--VERIFICAMOS SI TIENE HIJOS-->
                                    <div class="parentdiv flexRadio">
                                        @OrderedList(objeto.children, objeto.idkey)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <p class="control-label">@objeto.fsource</p>
                                    <!--VERIFICAMOS SI TIENE HIJOS-->
                                    <div class="parentdiv">
                                        @OrderedList(objeto.children, objeto.idkey)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <hr />
                            <h6 style="text-align:center;">@objeto.fsource</h6>
                            <hr />
                        </div>
                    </div>
                }


            }
            <!--PARA TABLA-->
            if (objeto.id_resource == 34)
            {
                if (ViewBag.mostrarboton == 0)
                {
                    <div class="card" id="tableaudit">
                        <div class="card-body">

                            <table id="test" class="table">
                                <thead style="font-size:9px;">

                                    @if (objeto.children != null)
                                    {
                                        <tr>
                                            @OrderedList(objeto.children, objeto.idkey)
                                        </tr>

                                    }
                                </thead>
                                <tbody style="font-size:10px;">

                                    @foreach (var product in ViewBag.productRows)
                                    {
                                        if (marcaactual != product.fvalueText)
                                        {

                                            <tr style="background-color:#f5d07b">
                                                <td colspan="4" style="text-align:center">@product.fvalueText</td>
                                            </tr>
                                            marcaactual = @product.fvalueText;


                                        }

                                        if (subcatactual != product.query1)
                                        {

                                            <tr style="background-color:#f5f5f6">
                                                <td colspan="4" style="text-align:center">@product.query1</td>
                                            </tr>
                                            subcatactual = @product.query1;


                                        }

                                        <tr>
                                            <td>@product.fsource | @product.fdescription</td>

                                            @if (product.children != null)
                                            {
                                                @OrderedList(product.children, objeto.idkey)
                                            }
                                        </tr>


                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                }

            }
            <!--PARA COLUMNAS-->
            if (objeto.id_resource == 24)
            {
                <th>@objeto.fdescription</th>
            }
            <!--PARA FILAS(MULTIPLE CHOICE)-->
            if (objeto.id_resource == 16)
            {
                <td>
                    <div class="mb-3">
                        <label class="md-check">
                            @if (objeto.fvalue == 1)
                            {
                                <input type="checkbox" class="form-check-input" name="radio_@objeto.idkey" id="@objeto.idkey" checked>
                            }
                            else
                            {
                                <input type="checkbox" class="form-check-input" name="radio_@objeto.idkey" id="@objeto.idkey">
                            }

                            <i class="green"></i>
                        </label>
                    </div>
                </td>
            }
            <!--PARA FILAS(CURRENCY)-->
            if (objeto.id_resource == 21)
            {
                if (objeto.fdescription == "Cantidad")
                {
                    <td>
                        <div class="form-group">

                            <input type="number" style="width:75px;" onClick="selectTest(this.id);" id="@objeto.idkey" class="form-control form-control-sm" value="@objeto.fvalueDecimal" />


                        </div>

                    </td>
                }
                else
                {
                    <td>
                        <div class="form-group">
                            <div class="input-icon">
                                <input type="number" style="width:55px;" onClick="selectTest(this.id);" id="@objeto.idkey" class="form-control form-control-sm" value="@objeto.fvalueDecimal" />
                                <i>$</i>
                            </div>
                        </div>

                    </td>

                }

            }
        }
}

<!-- page-body-wrapper ends -->
<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="page-hero page-container " id="page-hero">
            <div class="padding d-flex">
                <div class="page-title">
                    <a href="@Url.Action("Tasks", "Admin", null)" class="btn btn-info">Back</a>
                </div>
                <div class="flex"></div>
                <div>

                </div>
            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding sr">
                <div class="card">
                    <div class="card-header bg-img p-0 no-border" data-stellar-background-ratio="0.1" data-plugin="stellar">
                        <div class="bg-light r-2x no-r-b">
                            <div class="d-md-flex">
                            </div>
                        </div>
                    </div>

                </div>

                <input type="text" id="idvisita" hidden value="@ViewBag.idvisita" />


                @OrderedList(ViewBag.details)


            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-right">
                    <input type="submit" value="Save" class="btn btn-success" id="save_activity" style="height:90px; width:130px" />
                    <input type="submit" value="Finish activity" class="btn btn-danger" id="finish_activity" style="display:none; height:90px; width:130px" />
                    <!--<a href="Url.Action("Index", "Demos")" class="btn btn-default">Back</a>-->
                </div>
            </div>




        </div>

    </div>

</div>

<!-- ############ Content END-->