@model comerciamarketing_webapp.Models.Demos

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="fs_menu_overlay"></div>
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Demos")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>

                </ul>
            </div>

        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="overflow-x:auto;">
            <h4>New demo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ID_Vendor,"Vendor (SAP) *", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_Vendor", null, htmlAttributes: new { @class = "form-control js-example-basic-single", @id="dropdown_idvendor_c", @onchange= "getVendorname_demoC()" })
                    @Html.ValidationMessageFor(model => model.ID_Vendor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.vendor, new { htmlAttributes = new { @class = "form-control", @id="vendor_nameDemoC", @hidden="hidden"} })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_Store,"Store (SAP) *", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_Store", null, htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "dropdown_idstore_c", @onchange = "getStorename_demoC()" })
                    @Html.ValidationMessageFor(model => model.ID_Store, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.store, new { htmlAttributes = new { @class = "form-control", @id = "store_nameDemoC", @hidden="hidden" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.visit_date,"Visit date *", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.visit_date, new { htmlAttributes = new { @class = "form-control", @type= "datetime-local", min = "2018-01-01T00:00", max = "2050-01-01T00:00" } })
                    @Html.ValidationMessageFor(model => model.visit_date, "", new { @class = "text-danger" })
                </div>
            </div>

             <div class="form-group">
                @Html.LabelFor(model => model.visit_date,"Extra hours *", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.extra_hours, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max ="8", inputmode = "numeric", pattern = "[0-9]*", step="1", required="required" } })
                    @Html.ValidationMessageFor(model => model.extra_hours, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_usuario,"Assigned User", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_usuario", null, htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    @Html.ValidationMessageFor(model => model.ID_usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_form, "Form template", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_form", null, htmlAttributes: new { @class = "form-control js-example-basic-single" })
                    @Html.ValidationMessageFor(model => model.ID_form, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" /> <a href="@Url.Action("Index", "Demos")" class="btn btn-default">Back to List</a>
                </div>
            </div>
        </div>
    }


</div>




