@model IEnumerable<comerciamarketing_webapp.Models.demo_log>

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="container single_product_container">
    <div class="row">
        <div class="col"  style="overflow-x:auto;">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                     <li><a href="@Url.Action("Index", "Demos")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>          
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Demo Log</a></li>

                </ul>
            </div>
            <hr />
            <table class="table" id="change_formattime">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Description
                    </th>
                   
                </tr>

                @foreach (var item in Model)
                {

                <tr>

                    <td class="customerIDCell">
                        @(Convert.ToDateTime(item.fecha_conexion).ToLocalTime())

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.action)
                    </td>
                    <td>
                        <!--Html.ActionLink("More details", "Details_demolog", new { id = item.ID_historial })-->

                    </td>
                </tr>
                }


            </table>
            <p>

                    @Html.ActionLink("Back", "Index")
                
            </p>
        </div>
    </div>
</div>
