@model comerciamarketing_webapp.Models.Demos

@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="fs_menu_overlay"></div>
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Demos")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>

                </ul>
            </div>

        </div>
    </div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vendor ID (SAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Vendor)
        </dd>

        <dt>
            Vendor name (SAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor)
        </dd>

        <dt>
            Store ID (SAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Store)
        </dd>

        <dt>
            Store name (SAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store)
        </dd>

        <dt>
            Visit Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit_date)
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demo_state.sdescription)
        </dd>

        <dt>
            Form template
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forms.fdescription)
        </dd>

        <dt>
            User assigned
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.correo)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


