@model comerciamarketing_webapp.Models.Demos
@{
    ViewBag.Title = "Comercia Marketing";
}
<div class="fs_menu_overlay"></div>
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Demos")"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>

                </ul>
            </div>

        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Demos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_demo)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Vendor, "Vendor (SAP) *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Vendor", null, htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "dropdown_idvendor_E", @onchange = "getVendorname_demoE()" })
                @Html.ValidationMessageFor(model => model.ID_Vendor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.vendor, new { htmlAttributes = new { @class = "form-control", @id = "vendor_nameDemoE", @hidden = "hidden" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Store, "Store (SAP) *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Store", null, htmlAttributes: new { @class = "form-control js-example-basic-single", @id = "dropdown_idstore_E", @onchange = "getStorename_demoE()" })
                @Html.ValidationMessageFor(model => model.ID_Store, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.store, new { htmlAttributes = new { @class = "form-control", @id = "store_nameDemoE", @hidden = "hidden" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.visit_date, "Visit date *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.visit_date, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.visit_date, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.HiddenFor(model => model.ID_usuario)

        @Html.HiddenFor(model => model.ID_form)


        <div class="form-group">
            @Html.LabelFor(model => model.ID_demostate, "State", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_demostate", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_demostate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comments, "Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
