@model IEnumerable<comerciamarketing_webapp.Models.Forms_details>
@{
    ViewBag.Title = "Comercia Marketing - Demo";
}
<div class="fs_menu_overlay"></div>

    <div class="container single_product_container">
        <div class="row">
            <div class="col">


            </div>
        </div>
        <br />
    
    <form method="post" id="demoTform">
        <input type="text" id="id_demo" hidden value="@ViewBag.id_demo" />
        <div class="form-horizontal">
            @foreach (var objeto in Model)
            {<!--PARA TITULOS -->
                if (objeto.form_resource_type.fdescription == "Title")
                {
            <h5 style="text-align:center;">@objeto.fsource</h5>
                   
                }
                <!--PARA SUBTITULOS -->
                if (objeto.form_resource_type.fdescription == "Subtitle")
                {
                    <hr />
                    <h6 style="text-align:center;">@objeto.fsource</h6>
                }


            
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--PARA PRODUCTOS -->
                if (objeto.form_resource_type.fdescription == "Product") {
                <div class="form-group">
                    <p class="control-label col-md-10">@objeto.fdescription</P>
                    <div class="col-md-12">
                            <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" value="@objeto.fvalue" class="form-control" id="@objeto.ID_details" required/>
                    </div>
                </div>
                }

                <!--PARA MUESTRAS -->
                if (objeto.form_resource_type.fdescription == "Product_sample") {
                <div class="form-group">
                    <p class="control-label col-md-10">@objeto.fdescription</P>
                    <div class="col-md-12">
                            <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" value="@objeto.fvalue" class="form-control" id="@objeto.ID_details"  required/>
                    </div>
                </div>
                }

                <!--PARA FOTOS -->
                if (objeto.form_resource_type.fdescription == "Picture") {
                <div class="form-group">
                    <p class="control-label col-md-10">@objeto.fdescription</P>
                    <div class="col-md-12">
                        @if (objeto.fsource != "")
                        {
                            <input type="file" class="form-control" id="@objeto.ID_details">
                        <img src="@Url.Content(objeto.fsource)" alt="@objeto.fdescription" height="250" width="340" id="@objeto.ID_details" />
                        }
                        else {
                        <input type="file" class="form-control" id="@objeto.ID_details" required>
                        }
                    </div>
                </div>
                }

                                <!--PARA INPUT TEXT -->
                if (objeto.form_resource_type.fdescription == "Input_text") {
                <div class="form-group">
                    <p class="control-label col-md-10">@objeto.fdescription</P>
                    <div class="col-md-12">
                        <textarea id="@objeto.ID_details" class="form-control" required onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))'>@objeto.fsource</textarea>
                        
                    </div>
                </div>
                }


                               <!--PARA FIRMA ELECTRONICA -->
                if (objeto.form_resource_type.fdescription == "Electronic_signature") {
                <div class="form-group">
                    <p class="control-label col-md-10">@objeto.fdescription</P>
                    <div class="col-md-12">
                        <!-- Content -->




                        <div class="row">
                            <div class="col-md-12">
                                <canvas id="sig-canvas" class="@("canvas_" + objeto.ID_details)" width="230" height="150" data-id="@objeto.ID_details" ontouchmove="event.preventDefault();">
                                    Get a better browser, bro.
                                </canvas>
                            </div>
                        </div>

                        <script type="text/javascript">
                            window.onload = function () {
                                var canvas = document.getElementsByClassName("@("canvas_" + objeto.ID_details)");
                                //var canvas = document.getElementById("sig-canvas");
                                var context = canvas[0].getContext("2d");

                                // load image from data url

                                var imageObj = new Image();

                                imageObj.onload = function () {

                                    context.drawImage(this, 0, 0);

                                };

                                imageObj.src = "@objeto.fsource";

                            };
                        </script>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary" id="sig-submitBtn" hidden>Submit Signature</button>
                                <a href="#" class="btn btn-default" id="sig-clearBtn" onclick="return false">Clear Signature</a>
                            </div>
                        </div>



                    </div>
                </div>
                }

             }

        </div>
        </form>
    </div><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            <input type="submit" value="Save" class="btn btn-info" id="save_formtemplate" />
            <input type="submit" value="Check out" class="btn btn-warning" id="finish_formtemplate" />
            <!--<a href="Url.Action("Index", "Demos")" class="btn btn-default">Back</a>-->
        </div>
    </div>
    <div id="loadingmessage" style="display:none" class="col-md-offset-2 col-md-10 text-center">
        <img src="~/Content/images/ajax-loader.gif"/>
    </div>


  <!-- Modal -->
  <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="modal_demoform" role="dialog">
    <div class="modal-dialog modal-sm">  
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-body">
              <div class="col-md-offset-4 col-md-12 text-center">
                  <button id="checkin" type="button" class="btn btn-success" data-dismiss="modal"> Check in <i class="fa fa-clock-o"></i></button>
              </div>
              
          </div>

      </div>
      
    </div>
  </div>
<!--END MODAL-->