@model IEnumerable<comerciamarketing_webapp.Models.Demos>
@{
    ViewBag.Title = "Comercia Marketing - Demos Home";
}
@if (ViewBag.rol == 6  )
{
    <div class="container product_section_container">
        <div class="row">
            <div class="col" style="overflow-x:auto;">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>
                    </ul>
                </div>

                <!-- Sidebar -->
                @if (Session["tipousuario"].ToString() == "1" || Session["tipousuario"].ToString() == "6") {
           
            <div class="col-lg-12">
                <div class="benefit">
                    <div class="container">
                        
                        <div class="row benefit_row">
                           
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header" data-background-color="gray">
                                        <h4 class="title">Demos</h4>
                                        <p class="category">@ViewBag.desdehasta </p> 
                                        <div class="col-lg-3">
                                            Change week: <input data-weekpicker="weekpicker" class="form-control" onchange='Demofilter2()' id="filterDemoHome"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="orange">
                                        <i class="fa fa-user-circle"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">On Hold Demos</p>
                                        <h3 class="title">@ViewBag.onhold_demos</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="green">
                                        <i class="fa fa-user-circle"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">In progress Demos</p>
                                        <h3 class="title">@ViewBag.inprogress_demos</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="red">
                                        <i class="fa fa-user-circle"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">Canceled Demos</p>
                                        <h3 class="title">@ViewBag.canceled_demos</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="blue">
                                        <i class="fa fa-user-circle"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">Finished Demos</p>
                                        <h3 class="title">@ViewBag.finished_demos</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div id="floating-panel">
                                    <input type="button" value="Toggle Street View" onclick="toggleStreetView();"/>
                                </div>
                                <div id="map_canvas" style="height: 600px;"></div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
     
            <hr />
                }
                

                <div class="sidebar">
                    <div class="sidebar_section">

                        <div class="sidebar_title">
                            <h5>General</h5>
                        </div>
                        <ul class="sidebar_categories">
                            <!--
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Total users: </a></li>
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Total demos: </a></li>-->
                            <li><a href="@Url.Action("Create", "Demos")"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> New Demo</span> </a></li>
                            <li><a href="@Url.Action("Create", "Stock_items")"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Stock Receipt </span> </a></li>
                        </ul>

                    </div>
                    <div class="sidebar_section">

                        <div class="sidebar_title">
                            <h5>Demo settings</h5>
                        </div>
                        <!--<div class="filter_button"><a href="Url.Action("Demo_users", "Usuarios")"><span>Users</span></a></div>-->

                        @if (Session["tipousuario"].ToString() == "1")
                        {
                                                   
                        <div class="filter_button"><a href="@Url.Action("Index", "Forms")"><span>Forms Templates</span></a></div>                     
                        <div class="filter_button"><a href="@Url.Action("Gallery", "Home")"><span>Demos Gallery</span></a></div>
                        <div class="filter_button"><a href="@Url.Action("Index", "Stock_items")"><span>Stock Items</span></a></div>
                        }
                        else {
                        <div class="filter_button"><a href="@Url.Action("Index", "Empresas")"><span>Mail contacts</span></a></div>

                        <div class="filter_button"><a href="@Url.Action("Index", "Forms")"><span>Forms Templates</span></a></div>
                        <div class="filter_button"><a href="@Url.Action("Index", "Stock_items")"><span>Stock Items</span></a></div>
                        }
                    
                    </div>
                </div>

                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">
                                <!-- Product Sorting  -->

                                <div class="product_sorting_container product_sorting_container_top">

                                            <div class="card-header" data-background-color="gray">
                                                <h4 class="title">Demos</h4>
                                                <p class="category">@ViewBag.desdehasta </p>
                                            </div>
    
                                    <ul class="product_sorting pull-right">
                                        @*<li>
            <span class="type_sorting_text">Filter by Vendor</span>
            <i class="fa fa-angle-down"></i>
            <ul class="sorting_type">
                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>All</span></li>
            </ul>
                                            </li>*@
                                    </ul>
                                    <!--
                                        <ul class="product_sorting pull-right">
                                            <li>
                                                <span class="type_sorting_text">Sort by State</span>
                                                <i class="fa fa-angle-down"></i>
                                                <ul class="sorting_type">
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Last 10 </span></li>
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Waiting demos</span></li>
                                                    <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Demos finished</span></li>
                                                </ul>
                                            </li>
                                        </ul>
    -->
                                </div>

                                <!-- Product Grid -->


                                
                                <table class="table table-striped " id="change_formattime" > 
                                    <thead>
                                        <tr>
                                            <th>
                                                Vendor
                                            </th>
                                            <th>
                                                Store
                                            </th>
                                            <th>
                                                Visit date
                                            </th>
                                            <th>
                                                User assigned
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Check in
                                            </th>
                                            <th>
                                                Check out
                                            </th>
                                            <th hidden>
                                                Total Hours
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
        {
                                <tr>
                                    <td style="height: 5px; font-size: 13px;">
                                        @Html.DisplayFor(modelItem => item.vendor)
                                    </td>
                                    <td style="height: 5px; font-size: 13px;">
                                        @Html.DisplayFor(modelItem => item.store)
                                    </td>
                                    <td style="height: 5px;font-size: 13px;">
                                        @Convert.ToDateTime(item.visit_date).ToString("yyyy/MM/dd HH:mm")
                                    </td>
                                    <td style="height: 5px;font-size: 13px;">
                                        @Html.DisplayFor(modelItem => item.ID_Vendor)
                                    </td>
                                    <td style="height: 5px;font-size: 13px;">
                                        @if (item.ID_demostate == 3)
        {
                                <p style="color:orange;font-size: 13px;">On Hold</p>
}
else if (item.ID_demostate == 1)
{
                                <p style="color:red;font-size: 13px;">Canceled</p>
}
else if (item.ID_demostate == 2)
{
                                <p style="color:green;font-size: 13px;">In progress</p>
}
else
{
                                <p style="color:dodgerblue;font-size: 13px;">Finished</p>
}
                                    </td>
                                    @if (item.ID_demostate == 3 || item.ID_demostate == 1)
    {
                                <td style="height: 5px;"></td>
}
else
{
                                <td style="height: 5px;font-size: 13px;">
                                    @Convert.ToDateTime(item.check_in).ToString("HH:mm")
                                </td>
}
                                    @if (item.ID_demostate == 3 || item.ID_demostate == 1 || item.ID_demostate == 2)
    {
                                <td style="height: 5px;font-size: 13px;"></td>
}
else
{
                                <td class="customerIDCell" style="height: 12px;font-size: 12px;">
                                    @Convert.ToDateTime(item.end_date).ToString("HH:mm")
                                </td>
}
                                    @if (item.ID_demostate == 3 || item.ID_demostate == 1 || item.ID_demostate == 2)
                                    {
                                <td style="height: 5px;font-size: 13px;" hidden></td>
}
else
{
                                <td class="customerIDCell" style="height: 12px;font-size: 12px;" hidden>
                                    @(item.end_date - item.check_in)

                                </td>
}
                                <td style="height: 5px;font-size: 14px;">
                                    @if (item.ID_demostate == 4)
    {
                                @Html.ActionLink("Details", "Details", new { id = item.ID_demo });@Html.Label(" | ")
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })
                                <!--Html.Label(" | ")
Html.ActionLink("Log", "Demo_log", new { id_demo = item.ID_demo })-->
}
else if (item.ID_demostate == 2)
{<!--In progress-->
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID_demo }); @Html.Label(" | ")
                                @Html.ActionLink("Details", "Details", new { id = item.ID_demo });@Html.Label(" | ")
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })
                                <!--Html.Label(" | ")
Html.ActionLink("Log", "Demo_log", new { id_demo = item.ID_demo })-->

}
else
{
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID_demo }); @Html.Label(" | ")
                                @Html.ActionLink("Details", "Details", new { id = item.ID_demo }); @Html.Label(" | ")
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID_demo });
}
                                </td>
                                </tr>
}
                                    </tbody>
                                    <tfoot>

                                        <tr>

                                            <th>
                                                
                                                Vendor
                                            </th>
                                            <th>
                                                
                                            </th>
                                            <th>
                                                
                                            </th>
                                            <th>
                                                User assigned
                                            </th>
                                            <th>
                                              
                                            </th>
                                            <th>
                                              
                                            </th>
                                            <th>
                                               
                                            </th>
                                            <th>
                                             
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("Change_password", "Home", FormMethod.Post))
            {
                                @Html.AntiForgeryToken()

                                <div class="modal-body">
                                    <p>Enter password</p>
                                    <input type="password" name="password" id="password" required oncopy="return false;" />
                                    <hr />
                                    <div>
                                        <p>Enter new password</p>
                                        <input type="password" name="newpassword" id="newpassword" required onpaste="return false;" oncopy="return false;" />
                                        <p>Enter new password again</p>
                                        <input type="password" name="retrypassword" id="retrypassword" required onpaste="return false;" oncopy="return false;" />
                                        <span id='message'></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="buttonsave">Save changes</button>
                                </div>
}
                                        </div>
                                    </div>
                                </div>

}
else
{
                                <div class="container single_product_container">
                                    <div class="row">
                                        <div class="col" style="overflow-x:auto;">

                                            <!-- Breadcrumbs -->

                                            <div class="breadcrumbs d-flex flex-row align-items-center">
                                                <ul>
                                                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                                                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>

                                                </ul>
                                            </div>
                                            <h4>Assigned demos</h4>
                                            <table class="table">
                                                <tr>
                                                    <th>
                                                        Vendor
                                                    </th>
                                                    <th>
                                                        Store
                                                    </th>
                                                    <th>
                                                        Visit date
                                                    </th>
                                                    <th>
                                                        State
                                                    </th>
                                                    <th>
                                                        Finished
                                                    </th>
                                                    <th></th>
                                                </tr>

                                                @foreach (var item in Model)
                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vendor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.store)
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(item.visit_date).ToString("yyyy/MM/dd HH:mm")
                                    </td>
                                    <td>
                                        @if (item.ID_demostate == 3)
        {
                                <p style="color:orange;">On Hold</p>
}
else if (item.ID_demostate == 1)
{
                                <p style="color:red;">Canceled</p>
}
else if (item.ID_demostate == 2)
{
                                <p style="color:green;">In progress</p>
}
else
{
                                <p style="color:dodgerblue;">Finished</p>
}
                                    </td>
                                    <td>
                                        @if (item.ID_demostate == 3 || item.ID_demostate == 1 || item.ID_demostate == 2)
        {

        }
        else
        {
                                @Convert.ToDateTime(item.end_date).ToString("yyyy/MM/dd HH:mm")
}
                                    </td>

                                    <td>
                                        <!--finished-->
                                        @if (item.ID_demostate == 4)
        {
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })

}
else if (item.ID_demostate == 2)
{<!--In progress-->
                                @Html.ActionLink("Continue demo", "Form_template", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })

}
else if (item.ID_demostate == 1)
{<!--Canceled-->

}
else
{
                                @Html.ActionLink("Start demo", "Form_template", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID_demo })
}
                                    </td>
                                </tr>
}

                                            </table>
                                        </div>
                                    </div>
                                </div>


}

