@model IEnumerable<comerciamarketing_webapp.Models.Demos>
@{
    ViewBag.Title = "Comercia Marketing";
}
@if (ViewBag.rol == 6)
{
    <div class="container product_section_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>
                    </ul>
                </div>

                <!-- Sidebar -->

                <div class="sidebar">
                    <div class="sidebar_section">

                        <div class="sidebar_title">
                            <h5>General</h5>
                        </div>
                        <ul class="sidebar_categories">
                            <!--
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Total users: </a></li>
                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Total demos: </a></li>-->
                            <li><a href="@Url.Action("Create", "Demos")"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> New Demo</span> </a></li>

                        </ul>

                    </div>
                    <div class="sidebar_section">

                        <div class="sidebar_title">
                            <h5>Demo settings</h5>
                        </div>
                        <div class="filter_button"><a href="@Url.Action("Demo_users", "Usuarios")"><span>Users</span></a></div>
                        <div class="filter_button"><a href="@Url.Action("Index", "Forms")"><span>Forms</span></a></div>
                    </div>
                </div>

                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">
                                <!-- Product Sorting -->

                                <div class="product_sorting_container product_sorting_container_top">
                                    <ul class="product_sorting">
                                        <li>
                                            <span class="type_sorting_text">Default Sorting</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_type">
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Last 10 </span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Waiting demos</span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Demos finished</span></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </div>

                                <!-- Product Grid -->

                                <div class="product-grid">
                                    <h4>Last demos</h4>
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Vendor
                                            </th>
                                            <th>
                                                Store
                                            </th>
                                            <th>
                                                Visit date
                                            </th>
                                            <th>
                                                User assigned
                                            </th>
                                            <th>
                                                State
                                            </th>
                                            <th>
                                                Finished
                                            </th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.vendor)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.store)
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(item.visit_date).ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Usuarios.nombre) @Html.DisplayFor(modelItem => item.Usuarios.apellido)
                                                </td>
                                                <td>
                                                    @if (item.ID_demostate == 3)
                                                    {
                                                        <p style="color:orange;">On Hold</p>
                                                    }
                                                    else if (item.ID_demostate == 1)
                                                    {
                                                        <p style="color:red;">Canceled</p>
                                                    }
                                                    else if (item.ID_demostate == 2)
                                                    {
                                                        <p style="color:green;">In progress</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:dodgerblue;">Finished</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ID_demostate==3 || item.ID_demostate == 1 || item.ID_demostate == 2)
                                                    {

                                                    }
                                                    else
                                                    {
                                                         @Convert.ToDateTime(item.end_date).ToString("yyyy/MM/dd HH:mm")
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ID_demostate == 4)
                                                    {
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID_demo });@Html.Label(" | ")
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })@Html.Label(" | ")
                                                        @Html.ActionLink("Log", "Demo_log", new { id_demo = item.ID_demo }) 
                                                    }   else if (item.ID_demostate == 2) {<!--In progress-->
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID_demo });@Html.Label(" | ")
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })@Html.Label(" | ")
                                                        @Html.ActionLink("Log", "Demo_log", new { id_demo = item.ID_demo }) 

                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_demo }); @Html.Label(" | ")
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID_demo }); @Html.Label(" | ")
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_demo });
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Change_password", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <p>Enter password</p>
                        <input type="password" name="password" id="password" required oncopy="return false;" />
                        <hr />
                        <div>
                            <p>Enter new password</p>
                            <input type="password" name="newpassword" id="newpassword" required onpaste="return false;" oncopy="return false;" />
                            <p>Enter new password again</p>
                            <input type="password" name="retrypassword" id="retrypassword" required onpaste="return false;" oncopy="return false;" />
                            <span id='message'></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="buttonsave">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container single_product_container">
        <div class="row">
            <div class="col" style="overflow-x:auto;">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Demos</a></li>

                    </ul>
                </div>
                <h4>Assigned demos</h4>
                <table class="table">
                    <tr>
                        <th>
                            Vendor
                        </th>
                        <th>
                            Store
                        </th>
                        <th>
                            Visit date
                        </th>
                        <th>
                            State
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.vendor)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.store)
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(item.visit_date).ToString("yyyy/MM/dd HH:mm")
                                                </td>
                                                <td>
                                                    @if (item.ID_demostate == 3)
                                                    {
                                                        <p style="color:orange;">On Hold</p>
                                                    }
                                                    else if (item.ID_demostate == 1)
                                                    {
                                                        <p style="color:red;">Canceled</p>
                                                    }
                                                    else if (item.ID_demostate == 2)
                                                    {
                                                        <p style="color:green;">In progress</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color:dodgerblue;">Finished</p>
                                                    }
                                                </td>
                                                <td><!--finished-->
                                                    @if (item.ID_demostate == 4)
                                                    {
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })
                                                        
                                                    } else if (item.ID_demostate == 2) {<!--In progress-->
                                                        @Html.ActionLink("Continue demo", "Form_template", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form })

                                                    } else if (item.ID_demostate == 1) {<!--Canceled-->
                                                        
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Start demo", "Form_template", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                                        @Html.ActionLink("Preview", "Form_templatepreview", new { id_demo = item.ID_demo, id_form = item.ID_form }) @Html.Label(" | ")
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_demo })
                                                    }
                                                </td>
                                            </tr>
                    }

                </table>
            </div>
        </div>
    </div>


}

