
@{
    ViewBag.Title = "Comercia Marketing - Store_stats";
}



<div class="container-fluid page-body-wrapper">
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">


                <div class="row profile-page">
                    <div class="col-12">
                        <div class="card">
                            <div class="pt-2">

                                <a href="@Url.Action("RoutesM_details", "Home", new { id= ViewBag.route})" class="btn btn-info btn-sm mt-3 mb-4">Back</a>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="col-md-8 grid-margin stretch-card">
                                            <div class="card text-center">
                                                <div class="">

                                                    <img src="~/Content/newstyle2/images/samples/online-store.png" class="img-lg rounded mb-2" alt="profile image" />
                                                    <h4>@ViewBag.storename</h4>

                                                    <p class="card-text text-black-50">
                                                        @ViewBag.address
                                                    </p>

                                                    <div class="border-top pt-1">
                                                        @if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
                                {
                                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#createModal">Add activity<i class="mdi mdi-plus"></i></a>

        }
        else
        {
            if (ViewBag.estadovisita == 3)
            {
                        <a href="#" style="padding: 42px 32px;margin-left:0%; margin-top:2px;" class="btn btn-success" onclick="checkinVisit()">Check in<i class="mdi mdi-check"></i></a>
}
else if (ViewBag.estadovisita == 2)
{
                        <a href="#" style="padding: 42px 32px;margin-left:0%; margin-top:2px;" class="btn btn-danger" onclick="checkoutVisit()">Check out<i class="mdi mdi-check"></i></a>
}


}
 <hr />                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="wrapper mt-8" id="activitiesdiv">
                                                    @if (ViewBag.activities.Count == 0)
                            {
                                <label>No activities to show</label>
                                <hr />
    }
    else
    {
        foreach (var activity in ViewBag.activities)
        {
                        <div class="item-wrapper d-flex pb-4 border-bottom">
                            <div class="status-wrapper d-flex align-items-start pr-3">
                                @if (activity.isfinished == true && activity.query1 != "cancel")
        {
                        <span class="bg-primary rounded-circle p-1 mt-2 mx-auto"></span>
}
else if (activity.isfinished == true && activity.query1 == "cancel")
{
                        <span class="bg-danger rounded-circle p-1 mt-2 mx-auto"></span>
}
else
{
                        <span class="bg-warning rounded-circle p-1 mt-2 mx-auto"></span>
}
                            </div>
                            <div class="text-wrapper">
                                @if (activity.ID_activitytype == 1 || activity.ID_activitytype == 4)
                                {
                                    if (activity.isfinished == true)
                                    {
                        <a href="@Url.Action("Activityresume", "FormsM", new { id = activity.ID_activity })" class="text-black"><h6 class="d-block mb-1"> @activity.description</h6></a>
}
else
{
                        <a href="@Url.Action("Activity", "FormsM", new { id = activity.ID_activity })" class="text-black"><h6 class="d-block mb-1"> @activity.description</h6></a>
}


}
else if (activity.ID_activitytype == 2)
{
if (activity.isfinished == true)
{
                        <a href="#" data-toggle="modal" data-target="#infoRetailModal" data-idform="@activity.ID_activity" data-name="@activity.description" class="text-black"><h6 class="d-block mb-1"> @activity.description</h6></a>
}
else
{
                        <a href="@Url.Action("Activityra", "FormsM", new { id = activity.ID_activity })" class="text-black"><h6 class="d-block mb-1"> @activity.description</h6></a>
}

}
else
{
                        <a href="#" class="text-black"><h6 class="d-block mb-1"> @activity.description</h6></a>
}<small class="d-block mb-2 text-black">Customer: @activity.Customer</small>
                        <small class="text-gray d-block">Assigned rep : @activity.ID_customer</small>
                        <small class="text-gray d-block">Last update : @activity.check_out</small>
                        @if (activity.isfinished == true)
{
    if (activity.query1 == "cancel")
    {
                        <small class="text-gray d-block">Canceled</small>
                        <small class="text-gray d-block">Reason: @activity.comments</small>
}
else
{
                        <small class="text-gray d-block">Finished</small>
}

}
                        </div>
                        @if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
{
                        <a href="#" class="count online ml-auto" data-toggle="modal" data-target="#deleteModal" data-ID="@activity.ID_activity" data-description="@activity.description">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>

                        </a>
}
else
{
if (ViewBag.estadovisita != 4)
{
    if (activity.isfinished != true && activity.query1 != "cancel")
    {
                        <a href="#" class="count online ml-auto" data-toggle="modal" data-target="#cancelModal" data-ID="@activity.ID_activity" data-description="@activity.description">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>

                        </a>
}
if (activity.ID_activitytype == 4)
{

}
else
{
                        <a href="#" class="count online ml-auto" data-toggle="modal" data-target="#copyModal" data-activity="@activity.ID_activity" data-description="@activity.description">
                            <i class="close ml-auto mdi mdi-content-copy"></i>

                        </a>
}


}

}
                        </div><br />
}
}
                                                </div>





                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="my-4"><i class="mdi mdi-account-circle icon-sm text-info"></i> Who follow this visit</h5>

                                        <div class="calendar-aside">
                                            @if (ViewBag.repslist.Count == 0)
                    {
                        <div class="list">
                            <div class="col-12">
                                <small class="d-block mb-2">No representatives assigned</small>

                            </div>
                        </div>
}
else
{
foreach (var rep in ViewBag.repslist)
{
                        <div class="list">
                            <div class="col-12">
                                <small class="d-block mb-2"><strong>@rep.name</strong></small>
                                <small class="text-gray d-block">@rep.email</small>
                            </div>
                            @if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
    {
                        <a href="#" class="count online ml-auto" data-toggle="modal" data-target="#deleteRepModal" data-id="@rep.ID" data-description="@rep.name - @rep.email">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </a>
}
else
{
                        <a href="javascript:void(0)" class="count online ml-auto">

                        </a>
}
                        </div>
}
}
                                        </div><hr />
                                        <!--
                <h5 class="my-4"><i class="mdi mdi-format-list-bulleted icon-sm text-info"></i> To Do List</h5>
                <div class="add-items d-flex">
                    if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
                    {
                        <input type="text" class="form-control todo-list-input" placeholder="What do you need to do?">
                        <button class="add btn btn-primary font-weight-medium todo-list-add-btn">Add</button>
                    }
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox">
                                    Example
                                </label>
                            </div>
                            if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
                            {
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            }
                        </li>
                        <li class="completed">
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox" checked>
                                    Example completed
                                </label>
                            </div>
                            if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
                            {
                                <i class="remove mdi mdi-close-circle-outline"></i>
                            }
                        </li>

                    </ul>
                </div>
                -->
                                        @if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
                {
                        <h5 class="my-4"><i class="mdi mdi-image icon-sm text-info"></i> Images</h5>

                        <div class="calendar-aside">


                            <a href="@Url.Action("Gallery", "VisitsMs", new { id = ViewBag.idvisita, modulo="visits" })" class="btn btn-dark">
                                Gallery

                            </a>

                        </div><hr />

}
                                        <h5 class="my-4"><i class="mdi mdi-map-marker icon-sm text-info"></i> Location</h5>
                                        <div class="wrapper d-flex align-items-center py-2 border-bottom map-responsive">
                                            <iframe width="600" height="450" frameborder="0" style="border:0" allowfullscreen
                                                    src="https://maps.google.com/maps?q=@ViewBag.glong,@ViewBag.glat&hl=es;z=15&amp;output=embed"></iframe>
                                        </div>
                                    </div>

                                    <!--CANCEL VIIT
            <div class="calendar-aside">

                <div class="list">
                    <div class="text-wrapper">
                      <br /><br />
                        <a href="#" class="btn btn-danger">Cancel visit<i class="mdi mdi-close"></i></a>

                    </div>
                </div>

            </div>
                -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>@Html.Partial("~/Views/Shared/Footer2.cshtml")
            </div><!-- partial:../../partials/_footer.html -->
        </div>

    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>


<!--CRESTE USER DATA STARTS-->
<div class="modal fade" id="createModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("CreateActivity", "VisitsMs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-file-cloud"></i> Add New activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="ID_visita" name="ID_visita" hidden value="@ViewBag.idvisita" />
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">

                                <p class="card-description">
                                    <h4 class="card-title">Activity</h4>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <select id="ID_form" name="ID_form" class="js-example-basic-single" style="width:100%" onChange='getActivity()'>
                                                <option value="0">Select an activity</option>
                                                <optgroup label="Demos">
                                                    @foreach (var form in ViewBag.activeforms)
                        {
                            if (form.ID_activity == 4)
                            {
                                <option value="@form.ID_form">@form.name</option>
}
}
                                                </optgroup>
                                                <optgroup label="Forms"></optgroup>
                                                @foreach (var form in ViewBag.activeforms)
                    {
                        if (form.ID_activity == 1)
                        {
                            <option value="@form.ID_form">@form.name</option>
}
}
                                                <optgroup label="Audits"></optgroup>
                                                @foreach (var form in ViewBag.activeforms)
                    {
                        if (form.ID_activity == 2)
                        {
                            <option value="@form.ID_form">@form.name</option>
}
}
                                                <optgroup label="Sales Order">
                                                    @foreach (var form in ViewBag.activeforms)
                        {
                            if (form.ID_activity == 3)
                            {
                                <option value="@form.ID_form">@form.name</option>
}
}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description" >
                                    <h4 class="card-title" id="demotimetitle">Set start date</h4>
                                </p>
                                <div class="row" id="demotimediv">
                                    <div class="col-md-12">
                                        <div class="form-group row">      
                                                    <input type="datetime-local" class="form-control" name="time" id="time" />                                                                    
                                        </div>
                                    </div>
                                </div>

                                <p class="card-description">
                                    <h4 class="card-title">Representative</h4>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <select name="ID_rep" id="ID_rep" class="js-example-basic-single" style="width:100%" onChange='getCustomers()'>
                                                <option id="0">Select a representative</option>
                                                <optgroup label="Sales Representatives">

                                                    @foreach (var rep in ViewBag.representatives)
                        {

                            <option value="@rep.ID_usuario">@rep.nombre @rep.apellido</option>
}
                                                </optgroup>
                                                <optgroup label="Demos Representatives">

                                                    @foreach (var rep2 in ViewBag.reps_demos)
                        {

                            <option value="@rep2.ID">@rep2.name</option>
}
                                                </optgroup>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <p class="card-description">
                                    <h4 class="card-title">Customer</h4>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <select name="ID_customer" id="ID_customer" class="js-example-basic-single" style="width:100%"></select>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Add</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--CREATE USER DATA ENDS-->
<!--DELETE DATA STARTS-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteActivity", "VisitsMs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Delete Activity Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to delete this activity?</label><br />
                        <strong><label id="descriptionD" class="col-form-label"></label></strong>
                        <input type="text" id="ID_activityD" name="ID_activityD" hidden />
                        <input type="text" id="ID_visitA" name="ID_visitA" value="@ViewBag.idvisita" hidden />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<!--DELETE DATA ENDS-->
<!--DELETE DATA STARTS-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("CancelActivity", "VisitsMs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Cancel Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to cancel this activity?</label><br />
                        <strong><label id="descriptionCa" class="col-form-label"></label></strong>
                        <input type="text" id="ID_activityCa" name="ID_activityCa" hidden />
                        <br />
                        <label>Reason:</label>
                        <input type="text" id="comment" name="comment" class="form-control" required />
                        <input type="text" id="ID_visitCa" name="ID_visitCa" value="@ViewBag.idvisita" hidden />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Cancel</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<!--DELETE DATA ENDS-->
<!--DELETE DATA STARTS-->
<div class="modal fade" id="deleteRepModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteRepfromActivity", "VisitsMs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Remove representative from visit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to remove this representative?</label>
                        <strong><label id="descriptionUD" class="col-form-label"></label></strong>
                        <input type="text" id="ID_repUD" name="ID_repUD" value="" hidden />
                        <input type="text" id="ID_visitU" name="ID_visitU" value="@ViewBag.idvisita" hidden />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--DELETE DATA ENDS-->
<!--COPY DATA STARTS-->
<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("copyActivity", "VisitsMs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i>Copy activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 40px" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to copy this activity?</label>
                        <strong><label id="descriptionCopy" class="col-form-label"></label></strong>
                        <input type="text" id="ID_activityCopy" name="ID_activityCopy" value="" hidden />
                        <input type="text" id="ID_visitCopy" name="ID_visitCopy" value="@ViewBag.idvisita" hidden />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" onClick="this.form.submit(); this.disabled=true; this.value='Copying…'; ">Copy</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--COPY DATA ENDS-->
<!--INFO RETAIL DATA STARTS-->
<div class="modal fade" id="infoRetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-warning" id="exampleModalLabel-4"><label class="text-black">Retail audit - </label> <label id="descriptionUDM" class="col-form-label"></label><i class="mdi mdi-file"></i> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 40px" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    
                                        <table class="table-striped" id="resultsRetail" style="table-layout:fixed;width:100%;">
                                            <thead>

                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                   
                                </div>
                            </div>
                        </div>
                    </div><br />

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!--END-->
