
@{
    ViewBag.Title = "Comercia Marketing - FormsM";
}

<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="page-hero page-container " id="page-hero">
            <div class="padding d-flex">
                <div class="page-title">
                    <h2 class="text-md text-highlight">Forms Builder</h2>
                    <small class="text-muted">
                        Create your own forms to get
                        <strong> marketing information</strong>
                    </small>
                </div>
                <div class="flex"></div>

            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row row-sm sr">
                    <div class="col-md-12 col-lg-12">
                        <div class="row row-sm">
                            <table id="datatable2" class="table table-theme table-row v-middle">
                                <thead>
                                    <tr>
                                        <th><span class="text-muted">ID</span></th>
                              
                                        <th><span class="text-muted">NAME</span></th>
                                        <th><span class="text-muted">ACTIONS</span></th> 
                                   
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemForms in ViewBag.formslist)
                                    {
                                <tr class="" data-id="@itemForms.ID_form">
                                    <td style="min-width:30px;text-align:center">
                                        <small class="text-muted">@itemForms.ID_form</small>
                                    </td>

                                    <td class="flex">
                                        <a href="#" class="item-title text-color ">@itemForms.name</a>
                                        <div class="item-except text-muted text-sm h-1x">
                                            @itemForms.query1
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-icons btn-rounded btn-outline-primary" data-toggle="modal" data-target="#createModal" data-action="edit" data-idform="@itemForms.ID_form" data-name="@itemForms.name" data-description="@itemForms.description" data-activity="@itemForms.ID_activity"><i class="" data-feather="edit"></i></button>
                                        <button type="button" class="btn btn-icons btn-rounded btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-idform="@itemForms.ID_form"><i class="" data-feather="delete"></i></button>

                                        @if (itemForms.ID_activity == 1)
    {//Forms
                                    <a href="@Url.Action("Template_preview", "FormsM", new { id=itemForms.ID_form})" class="btn btn-icons btn-rounded btn-outline-success text-center"><i class="" data-feather="eye"></i></a>

}
else if (itemForms.ID_activity == 2)
{//Retail Audit
                                    <a href="@Url.Action("Template_preview2", "FormsM", new { id=itemForms.ID_form})" class="btn btn-icons btn-rounded btn-outline-success text-center"><i class="" data-feather="eye"></i></a>

}
                                        @if (itemForms.ID_activity == 3)
    {//Sales Orders
                                    <a href="@Url.Action("Template_preview", "FormsM", new { id=itemForms.ID_form})" class="btn btn-icons btn-rounded btn-outline-success text-center"><i class="" data-feather="eye"></i></a>

}
else if (itemForms.ID_activity == 4)//Demo
{
                                    <a href="@Url.Action("Template_preview", "FormsM", new { id=itemForms.ID_form})" class="btn btn-icons btn-rounded btn-outline-success text-center"><i class="" data-feather="eye"></i></a>
}
                                    </td>
                                </tr>
                                    }
                                </tbody>
                            </table>




                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <!-- ############ Main END-->
</div>
<!-- ############ Content END-->

<script>
    window.onload = function () {

        table = $('#datatable2').DataTable();



    };
</script>
<!-- page-body-wrapper ends -->
<!--DELETE FORM DATA STARTS-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteForm", "FormsM", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Delete Form Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to delete Form Data?</label>
                        <input type="text" class="form-control" id="idFormD" name="idFormD" hidden>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>}
        </div>
    </div>
</div>
<!--CREATE USER DATA STARTS-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            @using (Html.BeginForm("CreateForm", "FormsM", FormMethod.Post, new { onkeydown = "return event.keyCode!=13" }))
            {
                @Html.AntiForgeryToken()



                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="modal-body ">
                    <input type="text" id="possibleID" name="possibleID" value="0" hidden />
                    <input type="text" id="action" name="action" value="0" hidden />
                    <div class="row ">
                        <div class="col-md-12 grid-margin">
                            <div class="card border-dark">
                                <div class="content">

                                    <div class="form-horizontal col-md-12">
                                        <h1 id="titleform" class="display-4 text-dark"><i class="mdi mdi-file-document"></i>Title</h1>
                                        <p id="desform" class="display-5">Description</p>
                                        <br />
                                        <h3 class="display-5 text-warning">Description</h3>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <p class="control-label col-md-6">Form name*</p>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" required id="name" name="name" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <p class="control-label col-md-6">Description*</p>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" required id="description" name="description" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <p class="control-label col-md-12">Type of Activity</p>
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("ID_activity", null, htmlAttributes: new { @class = "form-control", @id = "type" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-horizontal col-md-12">
                                        <h3 class="display-5 text-warning">Questions & input fields</h3>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <p class="control-label col-md-12">Resource type</p>
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("ID_formresourcetype", null, htmlAttributes: new { @class = "form-control", @id = "formresourcetype" })
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_label">
                                                    <p class="control-label col-md-12">Text to show</p>
                                                    <div class="col-md-12">
                                                        <input type="text" id="label_toshow" class="form-control" autocomplete="off" />
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_category" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <select class="form-control" id="category_list">
                                                            <option value="0">Select category</option>
                                                            <option value="1">Flavor</option>
                                                            <option value="2">Quality</option>
                                                            <option value="3">Price</option>
                                                            <option value="4">Packing</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_resourceR" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        @Html.DropDownList("ID_formresourcetypeRetail", null, htmlAttributes: new { @class = "form-control", @id = "resource_list" })
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_products" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <input type="button" value="Find products" class="btn btn-info" id="myBtn">
                                                    </div>
                                                </div>


                                                <div class="form-group" id="div_samples" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <input type="button" value="Find samples" class="btn btn-info" id="myBtn_samples">
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_displays" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <input type="button" value="Find displays" class="btn btn-info" id="myBtn_displays">
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_gifts" style="display:none">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <input type="button" value="Find gifts" class="btn btn-info" id="myBtn_gifts">
                                                    </div>
                                                </div>

                                                <div class="form-group" id="div_btnadd">
                                                    <div class="col-md-offset-2 col-md-12 text-right">
                                                        <input type="button" value="Add" id="btn_agregarObjeto" class="btn btn-info">
                                                    </div>
                                                </div><br />

                                                <div class="form-group" id="menu-editor" style="display: none;">
                                                    <hr />
                                                    <div class="col-md-offset-2 col-md-12 text-left">
                                                        <h3>Editing item <span id="currentEditName"></span></h3>
                                                        <div class="form-group">
                                                            <label for="addInputName">Text to show</label>
                                                            <input type="text" class="form-control" id="editInputName" placeholder="Text to show">
                                                        </div>
                                                        <a class="btn btn-info" id="editButton" onclick="JavaScript:return editMenuItem(this);">Edit</a>

                                                    </div>
                                                </div><br />
                                            </div>
                                            <div class="col-md-8">

                                                <div class="cf nestable-lists" id="rightss">

                                                    <div class="dd" id="nestable">
                                                        <ol class="dd-list" id="main_list"></ol>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 text-right">

                                                        <a id="clear_list" href="#" class="close btn btn-inverse-light" data-dismiss="alert" aria-label="close">Clear list</a>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <textarea id="nestable-output" name="nestable_output" hidden></textarea>


                                    </div>







                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--CREATE USER DATA ENDS-->
<!--DELETE FORM DATA ENDS-->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left">Select products</h4>
            </div>
            <div class="modal-body col-md-12">
                <div class="form-group">
                    <p class="control-label col-md-12">Vendor</p>
                    <div class="col-md-12">
                        <select class="form-control" id="vendors_list" onChange='getProducts()'>
                            <option data-hidden="true">Select vendor</option>
                            @foreach (var item in ViewBag.vendors)
                            {
                                <option value="@item.CardCode">@item.CardName</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-8">Products</p>
                    <div class="col-md-12">
                        <select class="form-control" id="products_list" multiple="multiple"></select>

                    </div>
                </div>
                <!--
                <div class="form-group">
                    <p class="control-label col-md-8">Input format</p>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Numeric
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option2">
                                    Text
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option3">
                                    Single option
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option4">
                                    Multiple option
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option4">
                                    Label (subtitle)
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                    -->
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" id="btn_agregarProducto" class="btn btn-primary" data-dismiss="modal">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal samples-->
<div class="modal fade" id="myModal_samples" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left">Select samples</h4>
            </div>
            <div class="modal-body col-md-12">
                <div class="form-group">
                    <p class="control-label col-md-12">Vendor</p>
                    <div class="col-md-12">
                        <select class="form-control" id="vendors_list_samples" onChange='getSamples()'>
                            <option data-hidden="true">Select vendor</option>
                            @foreach (var item in ViewBag.vendors)
                            {
                                <option value="@item.CardCode">@item.CardName</option>
                            }


                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-8">Samples</p>
                    <div class="col-md-12">
                        <select id="samples_list" multiple="multiple"></select>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" id="btn_agregarSample" class="btn btn-primary" data-dismiss="modal">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal gifts-->
<div class="modal fade" id="myModal_gift" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left">Select gifts</h4>
            </div>
            <div class="modal-body col-md-12">
                <div class="form-group">
                    <p class="control-label col-md-12">Vendor</p>
                    <div class="col-md-12">
                        <select class="form-control" id="vendors_list_gift" onChange='getGifts()'>
                            <option data-hidden="true">Select vendor</option>
                            @foreach (var item in ViewBag.vendors)
                            {
                                <option value="@item.CardCode">@item.CardName</option>
                            }


                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-8">Gifts</p>
                    <div class="col-md-12">
                        <select id="gifts_list" multiple="multiple"></select>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" id="btn_agregarGift" class="btn btn-primary" data-dismiss="modal">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal  DISPLAYS-->
<div class="modal fade" id="myModal_displays" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-left">Select Display items</h4>
            </div>
            <div class="modal-body col-md-12">

                <div class="form-group">
                    <p class="control-label col-md-8">Items</p>
                    <div class="col-md-12">
                        <select class="form-control" id="displays_list" multiple="multiple">
                            @foreach (var item in ViewBag.displaylist)
                            {
                                <option value="@item.ID_item">@item.description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-8">Input format</p>
                    <div class="col-md-12">
                        <div class="form-group" id="radiosDisplay">
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadiosDisplay1" value="1" checked>
                                    Numeric
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadiosDisplay2" value="2">
                                    Text
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadiosDisplay3" value="3">
                                    Single option
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadiosDisplay4" value="4">
                                    Multiple option
                                </label>
                            </div>
                            <div class="form-radio">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadiosDisplay5" value="5">
                                    Label (subtitle)
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Add" id="btn_agregarDisplay" class="btn btn-primary" data-dismiss="modal">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
