@{
    Layout = null;
    ViewBag.Title = "Comercia Marketing - Log In";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Comercia Marketing App">
    <title>@ViewData["Title"]</title>

    @Html.Partial("~/Views/Shared/Styles2.cshtml")
    <style>
        #loading {
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: fixed;

            background-color: #fff;
            z-index: 1099;
            text-align: center;
        }

        #loading-content {
            margin-top: 20%;
        }

        .hide {
            display: none;
        }



    </style>
    <script type="text/javascript">
        var globallat = "";
        var glballong = "";
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;

            console.log('...');
            console.log('Latitude : ' + crd.latitude);
            console.log('Longitude: ' + crd.longitude);
            globallat = crd.latitude;
            glballong = crd.longitude;
        };

        function error(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        };

        function initGeolocation() {
            if (navigator && navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                console.log('Geolocation is not supported');
            }
        }


    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116898086-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116898086-2');
    </script>

</head>
<body class="horizontal-menu-2">
    <!--GLOBAL LOADER  onload="javascript:initGeolocation()"-->
    <div id="loading" class="hide">
        <div id="loading-content">
            <img src="~/Content/images/loadingpage.jpg" style="width:400px;position:relative; top:-15px;" />
            <div id="wave">
                Loading
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>



        </div>
    </div>
    <!---->
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content bg-1">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <img src="~/Content/images/LogoPNG-1.png" height="60" width="190">
                            </div>
                            <form method="post" id="form">
                                <h3 class="mr-auto">Welcome!</h3>
                                <p class="mb-5 mr-auto">Enter your details below.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" name="usuariocorreo" id="usuariocorreo" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-lock-outline"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                                    </div>
                                </div>
                                <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="ahahahahstayinalive" id="ahahahahstayinalive">
                                        Keep me logged in
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info submit-btn">LOG IN</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright © 2018 Comercia Marketing. All rights reserved.</p>
                                    <ul class="auth-footer text-gray">
                                        <!--
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Cookie Policy</a></li>
                                            -->
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
        </div>
    </div>
    <!-- page-body-wrapper ends -->
    @Html.Partial("~/Views/Shared/Scripts2.cshtml")
</body>
</html>
<script type="text/javascript">
    $("#form").submit(function (e) {
        $("#loading").show();
        e.preventDefault();
        //PRIMERO LLAMAMOS LA FUNCION LOGIN
        var email = $('#usuariocorreo').val();
        var password = $('#password').val();

        var rememberme = false;
        if ($('#ahahahahstayinalive').is(":checked")) {
            // it is checked
            rememberme = true;
        }


        $.ajax({
            type: "GET",
            url: '@Url.Action("Iniciar_sesion", "Home")',
            contentType: "application/json; charset=utf-8",
            data: { usuariocorreo: email, password: password, rememberme:rememberme },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    //SI ES UN USUARIO DEMO
                    if (data.redireccion == "userform") {
                        console.log("Incomplete form")

                        var href = '@Url.Action("Edit", "user_form_w9", new { id = "id" })';
                        href = href.replace("id", data.redireccion);

                        
                        window.location.href = href;

                    } else if( data.redireccion =="customer" ){
                        console.log("Login success")
                      var url = '@Url.Action("Dashboard", "Customers", new { id="CM" })';


                        url = url.replace('CM', data.cm);
                        window.location.href = url


                    } else if(data.redireccion == "salesreps") {
                        console.log("Login success")
                      
                        window.location.href = '@Url.Action("Dashboard", "SalesRepresentatives")';


                    }else if(data.redireccion == "admin") {
                        console.log("Login success")
                      
                        window.location.href = '@Url.Action("Dashboard", "Admin")';


                    }



                } else {
                    showWarningToast();
                    $('#usuariocorreo').val("");
                    $('#usuariocorreo').focus();
                    $('#password').val("");

                }
            },
            error: function () {


            }


        });

    });
</script>
<script>
    (function ($) {
        showSuccessToast = function () {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Success',
                text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                showHideTransition: 'slide',
                icon: 'success',
                loaderBg: '#f96868',
                position: 'top-right'
            })
        };
        showInfoToast = function () {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Info',
                text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                showHideTransition: 'slide',
                icon: 'info',
                loaderBg: '#46c35f',
                position: 'top-right'
            })
        };
        showWarningToast = function () {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Warning',
                text: 'Email or password wrong. Try again',
                showHideTransition: 'slide',
                icon: 'warning',
                loaderBg: '#ff9900',
                position: 'top-right'
            })
        };
        showDangerToast = function () {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Danger',
                text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                showHideTransition: 'slide',
                icon: 'error',
                loaderBg: '#f2a654',
                position: 'top-right'
            })
        };
        showToastPosition = function (position) {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Positioning',
                text: 'Specify the custom position object or use one of the predefined ones',
                position: String(position),
                icon: 'info',
                stack: false,
                loaderBg: '#f96868'
            })
        }
        showToastInCustomPosition = function () {
            'use strict';
            resetToastPosition();
            $.toast({
                heading: 'Custom positioning',
                text: 'Specify the custom position object or use one of the predefined ones',
                icon: 'info',
                position: {
                    left: 120,
                    top: 120
                },
                stack: false,
                loaderBg: '#f96868'
            })
        }
        resetToastPosition = function () {
            $('.jq-toast-wrap').removeClass('bottom-left bottom-right top-left top-right mid-center'); // to remove previous position class
            $(".jq-toast-wrap").css({
                "top": "",
                "left": "",
                "bottom": "",
                "right": ""
            }); //to remove previous position style
        }
    })(jQuery);

</script>
<script>
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
</script>