
@{
    ViewBag.Title = "Comercia Marketing - Representative_stats";
}

<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 grid-margin">

                        <div class="accordion basic-accordion" id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="card-icon mdi mdi-filter"></i>Filters
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">By Date</h4>
                                                        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                            <i class="mdi mdi-calendar"></i>&nbsp;
                                                            <span></span> <i class="fa fa-caret-down"></i>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <a href="#" class="btn btn-primary" id="click_filterR">Apply<i class="mdi mdi-check-all"></i></a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Activities</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-flex">
                                            <h2 class="mb-0">@ViewBag.totalAct</h2>
                                            <div class="d-flex align-items-center ml-2">


                                            </div>
                                        </div>
                                        <small class="text-gray">Forms, Audits, Sales Orders, Demos</small>
                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-success px-4 py-2 rounded">
                                            <i class="mdi mdi-file-document text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0">Visited stores</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-inline-block pt-3">
                                        <div class="d-flex">
                                            <h2 class="mb-0">@ViewBag.totalVisitas</h2>
                                            <div class="d-flex align-items-center ml-2">

                                            </div>
                                        </div>
                                        <small class="text-gray">of @ViewBag.stores stores</small>
                                    </div>
                                    <div class="d-inline-block">
                                        <div class="bg-warning px-4 py-2 rounded">
                                            <i class="mdi mdi-store text-white icon-lg"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Assigned customers</h4>
                                @foreach (var item in ViewBag.customers)
                                {
                                    <div class="wrapper d-flex align-items-center py-2 border-bottom">

                                        <img class="img-sm rounded" src="~/Content/newstyle2/images/faces/factory.png" alt="profile">
                                        
                                            <div class="wrapper ml-3">
                                                <h6 class="ml-1 mb-1">@item.name</h6>
                                                <small class="text-muted mb-0"><i class="mdi mdi-map-marker-outline mr-1"></i>@item.address</small>
                                            </div>
                                        
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card text-center">
                            <div class="card-body">
                                <img src="~/Content/newstyle2/images/faces/user.png" class="img-lg rounded-circle mb-2" alt="profile image" />
                                <h4>@ViewBag.nombre</h4>
                                <p class="text-muted">Sales Representative</p>
                                <p class="mt-4 card-text">
                                    @ViewBag.correo
                                </p>
                                <button class="btn btn-info btn-sm mt-3 mb-4">Activities</button>
                                <div class="border-top pt-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <h6>@ViewBag.totalForm</h6>
                                            <p>Forms</p>
                                        </div>
                                        <div class="col-4">
                                            <h6>@ViewBag.totalAudit</h6>
                                            <p>Retail Audits</p>
                                        </div>
                                        <div class="col-4">
                                            <h6>@ViewBag.totalSale</h6>
                                            <p>Sales Orders</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h6>@ViewBag.totalDemo</h6>
                                            <p>Demos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Last updates</h4>
                                <ul class="bullet-line-list">
                                    @foreach (var log in ViewBag.log)
                                    {

                                        <li>
                                            <h6>@log.action</h6>

                                            <p class="text-muted">
                                                <i class="mdi mdi-clock"></i>
                                                @log.fecha_conexion
                                            </p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("~/Views/Shared/Footer2.cshtml")
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>
 
<!-- main-panel ends -->