
@{
    ViewBag.Title = "Comercia Marketing - Representative_stats";
}

<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="page-hero page-container " id="page-hero">

            <div class="padding d-flex">
                <div class="btn-group" style="margin-right:12px;">
                    <a href="@Url.Action("Representatives","Home",null)" class="btn btn-sm btn-icon btn-white" data-toggle="tooltip" title="Back" id="btn-back">
                        <i data-feather="chevron-left" class="text-muted"></i>
                    </a>

                </div>
                <div class="page-title">
                    <h2 class="text-md text-highlight">@ViewBag.nombre </h2>

                    <small class="text-muted">
                        Sales Representative |
                        <strong> @ViewBag.correo</strong>
                    </small>
                </div>
                <div class="flex"></div>
                <div>
                    <a href="#" class="avatar w-40" data-pjax-state="">
                        <img class="image" src="../assets/img/a2.jpg" alt=".">
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding">

                <div class="row">

                    <div class="col-sm-4">
                        <p>Active Vendors</p>
                        <table class="table table-theme v-middle">
                            <thead class="text-muted">
                                <tr>
                                    <th></th>
                                    <th>Vendor</th>
                                    <th>Brands</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.customers)
                                {
                                    <tr class=" v-middle" data-id="20">
                                        <td>
                                            <a href="#">
                                                <span class="w-32 avatar gd-info">
                                                    @Convert.ToString(item.name).Substring(0, 1)
                                                </span>
                                            </a>
                                        </td>
                                        <td class="flex">
                                            <a href="#" class="item-author text-color ">@item.name</a>
                                            <div class="item-except text-muted text-sm h-1x">
                                                @item.id
                                            </div>
                                        </td>

                                        <td></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <p>Last updates</p>
                        <div class="timeline p-4 block mb-4">
                            @foreach (var log in ViewBag.log)
                            {
                                <div class="tl-item">
                                    <div class="tl-dot ">
                                    </div>
                                    <div class="tl-date text-muted">@log.fecha_conexion</div>
                                    <div class="tl-content">
                                        <div class="">@log.action</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="flex">
                            <div class="card-body">
                                <div class="row row-sm">
                                    <div class="col-sm-12">
                                        <div class="p-3-4">
                                            <div class="d-flex">
                                                <div>
                                                    <div>Activities List</div>

                                                </div>
                                                <span class="flex"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="table-responsive">
                                                <table id="activitieslst" class="table table-theme table-row">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">ID </th>

                                                            <th scope="col">Activity</th>

                                                            <th scope="col">Customer</th>

                                                            <th scope="col">Date</th>
                                                            <th scope="col">Status</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var itemVisita in ViewBag.activitieslst)
                                                        {
                                                            <tr class=" v-middle">

                                                                <td>
                                                                    @itemVisita.ID_activity

                                                                </td>

                                                                <td>@itemVisita.description</td>

                                                                <td>



                                                                    <a class="text-black" href="@Url.Action("Visit_details", "SalesRepresentatives", new { id = itemVisita.ID_visit })">
                                                                        <i class="mdi mdi-store icon-sm text-info"></i>@itemVisita.Customer<br />
                                                                        <span>Brands</span>
                                                                    </a>

                                                                </td>
                                                                <td>@itemVisita.date.ToString("MM/dd/yyyy")</td>

                                                                <td data-label="Status">
                                                                    @switch (itemVisita.isfinished)
                                                                    {
                                                                        case false: //Scheduled

                                                                            <label class="badge badge-warning">Scheduled</label>

                                                                            break;
                                                                        case true: //Finished
                                                                            <label class="badge badge-primary">Finished</label>
                                                                            break;
                                                                    }

                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>

<!-- main-panel ends -->
<!-- .modal -->
<div id="modal-right_filter" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-right w-xl">
        <div class="modal-content h-100 no-radius">
            <div class="modal-header ">
                <div class="modal-title text-md">
                    <span class="badge badge-light text-uppercase">
                        General filters
                    </span>
                </div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label">By Date</label>
                        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="mdi mdi-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-calendar"></i>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Apply</button>

                @*<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- / .modal -->