@model IEnumerable<comerciamarketing_webapp.Models.Usuarios>
@{
    ViewBag.Title = "Comercia Marketing - Representatives";
}
<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="page-hero page-container " id="page-hero">
            <div class="padding d-flex">
                <div class="page-title">
                    <h2 class="text-md text-highlight">Representatives</h2>
                    <small class="text-muted">
                        Manage all internal users with
                        <strong> Sales Representative Rol</strong>
                    </small>
                </div>
                <div class="flex"></div>
                <div>
                    <button data-toggle="modal" data-target="#createModal" class="btn btn-sm box-shadows btn-rounded gd-primary">
                        Add Representative
                    </button>
                </div>
            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row row-sm sr">
                    <div class="col-md-12 col-lg-12">

                        <div class="row row-sm">
                            <table id="datatable2" class="table table-theme table-row v-middle" >
                                <thead>
                                    <tr>
                                        <th><span class="text-muted">ID</span></th>
                                        <th><span class="text-muted">ACTIVE</span></th>
                                        <th><span class="text-muted">NAME</span></th>
                                        <th><span class="text-muted">REG DATE</span></th>
                                        <th><span class="text-muted">TEL</span></th>
                                        <th><span class="text-muted">ACTIONS</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
    {
                                <tr class=" " data-id="@item.ID_usuario">
                                    <td style="min-width:30px;text-align:center">
                                        <small class="text-muted">@item.ID_usuario</small>
                                    </td>
                                    <td>
                                        <a href="#">
                                            @if (item.activo == true)
    {
                                        <span class="w-32 avatar gd-success">
                                            Y
                                        </span>
}
else
{
                                        <span class="w-32 avatar gd-warning">
                                            N
                                        </span>
}

                                        </a>
                                    </td>
                                    <td class="flex">
                                        <a href="@Url.Action("Representative_stats","Home", new { id=item.ID_usuario})" class="item-title text-color ">@item.nombre @item.apellido</a>
                                        <div class="item-except text-muted text-sm h-1x">
                                            @item.correo
                                        </div>
                                    </td>
                                    <td>
                                        <span class="item-amount text-sm ">
                                            @Convert.ToDateTime(item.fcreacion_usuario).ToShortDateString()
                                        </span>
                                    </td>
                                    <td>
                                        <span class="item-amount text-sm [object Object]">
                                            @item.telefono
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-icons btn-rounded btn-outline-primary" data-toggle="modal" data-target="#editModal" data-usuario="@item.ID_usuario" data-pass="@item.contrasena" data-nombre="@item.nombre" data-apellido="@item.apellido" data-correo="@item.correo" data-tel="@item.telefono" data-estado="@item.activo" data-customers="@item.estados_influencia"><i class="" data-feather="edit"></i></button>
                                        <button type="button" class="btn btn-icons btn-rounded btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-usuario="@item.ID_usuario" data-nombre="@item.nombre" data-apellido="@item.apellido"><i class="" data-feather="delete"></i></button>
                                    </td>
                                </tr>
}
                                </tbody>
                                    
                            </table>



                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <!-- ############ Main END-->
</div>
<!-- ############ Content END-->

<script>
    window.onload = function () {

        table = $('#datatable2').DataTable();


    };
</script>
<!-- page-body-wrapper ends -->
<!--CRESTE USER DATA STARTS-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("CreateRep", "usuarios", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-account"></i>Add new representative</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                        <label for="recipient-name" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                        <label for="recipient-name" class="col-form-label">Telephone:</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Customers:</label>
                        <input class="form-control" type="hidden" name="listaCustomers" id="Customersmulti" value="" style="width:100%;" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--CREATE USER DATA ENDS-->
<!--EDIT USER DATA STARTS-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("EditRep", "usuarios", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-account"></i> Edit representative data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="IDrepEdit" name="IDrepEdit" hidden />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE">
                        <label for="recipient-name" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="apellidoE" name="apellidoE">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="passwordE" name="passwordE" required>
                        <input type="checkbox" onclick="myFunction()">Show Password <br />
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="correoE" name="correoE">
                        <label for="recipient-name" class="col-form-label">Telephone:</label>
                        <input type="text" class="form-control" id="telefonoE" name="telefonoE">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Customers:</label>
                        <input class="form-control" type="hidden" name="listaCustomersE" id="CustomersmultiE" value="" style="width:100%;" />

                    </div>
                    <!--
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Active:</label>
                        <div class="form-radio">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="" checked>
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                No
                            </label>
                        </div>
                    </div>-->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--EDITA USER DATA ENDS-->
<!--DELETE USER DATA STARTS-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteRep", "usuarios", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-4"><i class="mdi mdi-delete"></i> Disable representative account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Are you sure you want to disable this representative account?</label><br />
                        <input type="text" id="IDrepDelete" name="IDrepDelete" hidden />
                        <strong><label id="repDelete"></label></strong>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Disable</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--DELETE USER DATA ENDS-->
