
@{
    ViewBag.Title = "Settings";
}
<div class="fs_menu_overlay"></div>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Settings</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">

                    <div class="sidebar_title">
                        <h5>Account details</h5>
                    </div>
                    <ul class="sidebar_categories">
                        <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Name: </a></li> @ViewBag.nombre
                        <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Email: </a></li>@ViewBag.correo
                        <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Membership: </a></li>@ViewBag.membresia

                    </ul>
                    <div class="filter_button"><span data-toggle="modal" data-target="#exampleModal">Change password</span></div>
                </div>

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                <div class="pages d-flex flex-row align-items-center">
                                    <div class="sidebar_section">
                                        <div class="sidebar_title">
                                            <h5>Company details</h5>
                                        </div>
                                        <ul class="sidebar_categories">
                                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Company:</a></li>@ViewBag.empresa
                                            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Position: </a></li>@ViewBag.cargo
                                        </ul>
                                    </div>

                                </div>

                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Change_password", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

        <div class="modal-body">
            <p>Enter password</p>
            <input type="password" name="password" id="password" required oncopy="return false;"/>
            <hr />
            <div>
                <p>Enter new password</p>
                <input type="password" name="newpassword" id="newpassword" required onpaste="return false;" oncopy="return false;"/>
                <p>Enter new password again</p>
                <input type="password" name="retrypassword" id="retrypassword" required onpaste="return false;" oncopy="return false;"/>
                <span id='message'></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="buttonsave">Save changes</button>
        </div>
            }
        </div>
    </div>
</div>

