<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Comercia Marketing App">
    <title>@ViewData["Title"]</title>

    @Html.Partial("~/Views/Shared/Styles2.cshtml")

    @if (ViewBag.Title == "Comercia Marketing - Template preview2")
    {
        <style>

            #rightss {
                height: 500px;
                overflow-y: scroll;
            }

            .modal {
                overflow: auto !important;
            }

            #sig-canvas {
                width: 200px;
                height: 150px;
                border-style: dashed;
                border-radius: 0.50px;
                border-color: lightgray;
            }

            .currency {
            }

            .currency-symbol {
                position: absolute;
                padding: 7px 4px 0px;
                font-size: 13px;
            }

            .currency-symbolv2 {
                position: absolute;
                padding: 1px 4px 0px;
                font-size: 12px;
            }

            #loading {
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                position: fixed;
                opacity: 0.7;
                background-color: #fff;
                z-index: 99;
                text-align: center;
            }

            #loading-content {
                margin-top: 20%;
            }

            .hide {
                display: none;
            }


            /*DATATABLES*/
            table {
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
            }

                table tr {
                    padding: .35em;
                }

                table th, table td {
                    padding: .625em;
                    text-align: left;
                }

                table th {
                    font-size: .9em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

                table td {
                    font-size: .3em;
                }
            /**/
            @@media screen and (max-width: 2000px) {

                table td {
                    font-size: .9em;
                }
            }

            @@media screen and (max-width: 850px) {
                table th {
                    font-size: .8em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

                table td {
                    font-size: .7em;
                }
            }

            /**/
            /**/


            @@media screen and (max-width: 400px) {

                table {
                    border: 0;
                }

                    table thead {
                        display: none;
                    }

                    table tr {
                        border-bottom: 3px solid #ddd;
                        display: block;
                        margin-bottom: .625em;
                    }

                    table td {
                        border-bottom: 1px solid #ddd;
                        display: block;
                        font-size: .8em;
                        text-align: left;
                    }

                        table td:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        table td:last-child {
                            border-bottom: 0;
                        }
            }
            /**/
            /*END DATATABLES*/

        </style>
    }
    @if (ViewBag.Title != "Comercia Marketing - Template preview2")
    {
        <style>
            .disable {
                opacity: 0.4;
            }

                /*Disable scrolling on child elements*/
                .disable div,
                .disable textarea {
                    overflow: hidden;
                }

            #rightss {
                height: 500px;
                overflow-y: scroll;
            }

            .modal {
                overflow: auto !important;
            }

            #sig-canvas {
                width: 250px;
                height: 150px;
                border-style: dashed;
                border-radius: 0.50px;
                border-color: lightgray;
            }

            .currency {
            }

            .currency-symbol {
                position: absolute;
                padding: 7px 4px 0px;
                font-size: 13px;
            }

            .currency-symbolv2 {
                position: absolute;
                padding: 1px 4px 0px;
                font-size: 13px;
            }

            #loading {
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                position: fixed;
                opacity: 0.7;
                background-color: #fff;
                z-index: 99;
                text-align: center;
            }

            #loading-content {
                margin-top: 20%;
            }

            .hide {
                display: none;
            }


            /*DATATABLES*/
            table#order-listing {
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
            }

                table#order-listing tr {
                    padding: .35em;
                }

                table#order-listing th, table td {
                    padding: .625em;
                    text-align: left;
                }

                table#order-listing th {
                    font-size: .9em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

                table#order-listing td {
                    font-size: .3em;
                }
            /**/
            @@media screen and (max-width: 2000px) {

                table#order-listing td {
                    font-size: .9em;
                }
            }

            @@media screen and (max-width: 850px) {
                table#order-listing th {
                    font-size: .8em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

                table#order-listing td {
                    font-size: .7em;
                }
            }



            /**/
            @@media screen and (max-width: 530px) {

                table#order-listing {
                    border: 0;
                }

                    table#order-listing thead {
                        display: none;
                    }

                    table#order-listing tr {
                        border-bottom: 3px solid #ddd;
                        display: block;
                        margin-bottom: .625em;
                    }

                    table#order-listing td {
                        border-bottom: 1px solid #ddd;
                        display: block;
                        font-size: .8em;
                        text-align: right;
                    }

                        table#order-listing td:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        table#order-listing td:last-child {
                            border-bottom: 0;
                        }
            }
            /**/
            /*END DATATABLES*/



            /**PARA MODALS*/

            /*DATATABLES*/
            table#resultsRetail {
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
            }

                table#resultsRetail tr {
                    padding: .35em;
                }

                table#resultsRetail th, table td {
                    padding: .625em;
                    text-align: left;
                }

                table#resultsRetail th {
                    font-size: .9em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

                table#resultsRetail td {
                    font-size: .3em;
                }
            /**/
            @@media screen and (max-width: 2000px) {

                table#resultsRetail td {
                    font-size: .9em;
                }
            }

            @@media screen and (max-width: 992px) {
                table#resultsRetail {
                    border: 0;
                }

                    table#resultsRetail thead {
                        display: none;
                    }

                    table#resultsRetail tr {
                        border-bottom: 3px solid #ddd;
                        display: block;
                        margin-bottom: .625em;
                    }

                    table#resultsRetail td {
                        border-bottom: 1px solid #ddd;
                        display: block;
                        font-size: .8em;
                        text-align: right;
                    }

                        table#resultsRetail td:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: normal;
                            text-transform: uppercase;
                        }

                        table#resultsRetail td:last-child {
                            border-bottom: 0;
                        }
            }

            /**/
            /**/


            @@media screen and (max-width: 400px) {

                table#resultsRetail {
                    border: 0;
                }

                    table#resultsRetail thead {
                        display: none;
                    }

                    table#resultsRetail tr {
                        border-bottom: 3px solid #ddd;
                        display: block;
                        margin-bottom: .625em;
                    }

                    table#resultsRetail td {
                        border-bottom: 1px solid #ddd;
                        display: block;
                        font-size: .8em;
                        text-align: right;
                    }

                        table#resultsRetail td:before {
                            content: attr(data-label);
                            float: left;
                            font-weight: normal;
                            text-transform: uppercase;
                        }

                        table#resultsRetail td:last-child {
                            border-bottom: 0;
                        }





            }
            /**/
            /*END DATATABLES*/
            .flexRadio {
                display: flex;
                /* Optional, if you want the DIVs 100% width: */
                flex-wrap: wrap;
                margin-right: -33.5px;
                margin-left: -2.5px;
            }

                .flexRadio > .hRadio {
                    order: 1;
                }

                .flexRadio > .fRadio {
                    order: 2;
                }

        </style>
    }
</head>
<body class="horizontal-menu-2">
    <!--GLOBAL LOADER-->
    <div id="loading" class="hide">
        <div id="loading-content">


            <div class="circle-loader"></div>


        </div>
    </div>
    <!---->
    <div style="background-color:#000">.</div>
    <div class="container-scroller">
        <!-- Horizontal Menu Start -->
        @if (ViewBag.Title != "Comercia Marketing")
        {
            @Html.Partial("~/Views/Shared/Menu2.cshtml")
        }
        <!-- Horizontal Menu Ends -->
        @RenderBody()

    </div>

    @Html.Partial("~/Views/Shared/Scripts2.cshtml")
</body>
</html>
@if (ViewBag.Title != "Comercia Marketing - FormsM")
{
    <script type="text/javascript">
        $(function () {

            var t1 = "@ViewBag.filtrofechastart";
            var t2 = "@ViewBag.filtrofechaend";

            var start = moment(t1, "MM-DD-YYYY");
        var end = moment(t2, "MM-DD-YYYY");
            //var start = moment();
            //var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({

                startDate: start,
                endDate: end,
                autoApply: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>
    <script>
        var start = moment();
        var end = moment();

        $(function () {
            $('input[name="dailyStatsM"]').daterangepicker({
                startDate: start,
                endDate: end,
                autoApply: true,
                minDate: moment().startOf('month'),
                maxDate: moment().endOf('month')
            });
        });
    </script>
}
@if (ViewBag.Title == "Comercia Marketing - CustomersM stats")
{
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['State', 'Stats'],
                ['Alabama', 100],
                ['Alaska', 200],
                ['Arizona', 500],
                ['Arkansas', 0],
                ['California', 0],
                ['Colorado', 0],
                ['Connecticut', 0],
                ['Delaware', 0],
                ['Florida', 0],
                ['Georgia', 0],
                ['Hawaii', 0],
                ['Idaho', 0],
                ['Illinois', 0],
                ['Indiana', 0],
                ['Iowa', 0],
                ['Kansas', 0],
                ['Kentucky', 0],
                ['Louisiana', 0],
                ['Maine', 0],
                ['Maryland', 0],
                ['Massachusetts', 0],
                ['Michigan', 0],
                ['Minnesota', 0],
                ['Mississippi', 0],
                ['Missouri', 0],
                ['Montana', 0],
                ['Nebraska', 0],
                ['Nevada', 0],
                ['New Hampshire', 0],
                ['New Jersey', 0],
                ['New Mexico', 0],
                ['New York', 0],
                ['North Carolina', 0],
                ['North Dakota', 0],
                ['Ohio', 0],
                ['Oklahoma', 0],
                ['Oregon', 0],
                ['Pennsylvania', 0],
                ['Rhode Island', 0],
                ['South Carolina', 0],
                ['South Dakota', 0],
                ['Tennessee', 0],
                ['Texas', 0],
                ['Utah', 0],
                ['Vermont', 0],
                ['Virginia', 0],
                ['Washington', 0],
                ['West Virginia', 0],
                ['Wisconsin', 0],
                ['Wyoming', 0]
            ]);

            var options = {
                width: 556,
                height: 347,
                region: "US",
                resolution: "provinces"
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>
}


@if (ViewBag.Title == "Comercia Marketing - Home")
{
    <script>
    'use strict';
    // This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {

    var map = new google.maps.Map(document.getElementById('map-with-marker'), {
        zoom: 4,
        scrollwheel: true,
        center: { lat: 35.2289067, lng: -86.885620 }

    });

    var data = @Html.Raw(ViewBag.routes_map);
    var markers = [];
    // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
    $.each(data, function (i, item) {
        var marker = new google.maps.Marker({
            'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
            'map': map,
            'title': item.PlaceName
        });


        // Make the marker-pin blue!
        if (item.demo_state == "3") {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/orange-dot.png')
        }
        if (item.demo_state == "2") {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/green-dot.png')
        }
        if (item.demo_state == "1") {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/red-dot.png')
        }
        if (item.demo_state == "4") {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/blue-dot.png')
        }

        // put in some information about each json object - in this case, the opening hours.

        //colocamos la url de la demo
        //var url = '@Url.Action("PreviewSendDemoResume", "Demos", new { id = "DEMOID" })';


        //url = url.replace('DEMOID', item.id);

        //var infowindow = new google.maps.InfoWindow({
        //    content: "<div class='infoDiv'><h8>Place: " + item.store + ".</h8><br>" + "<div><h8>Customer: " + item.customer + ".</h8><br><h8>Visit date: " + item.date + ".</h8><br><h8>Representatives: " + item.representatives + ".</h8><br><h8>Comment: " + item.comment + ".</h8><br><a href='" + "#" + "' class='btn btn-primary' target='_blank'>Preview</a></div></div>"
        //});

        // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
        google.maps.event.addListener(marker, 'click', function () {
            //infowindow.open(map, marker);
            myFunction(item.id, item.store, item.customer, item.date, item.representatives, item.comment);
        });

        marker.addListener('dblclick', function () {
            map.setZoom(18);
            map.setCenter(marker.getPosition());

            // We get the map's default panorama and set up some defaults.
            // Note that we don't yet set it visible.
            panorama = map.getStreetView();
            panorama.setPosition(marker.getPosition());
            panorama.setPov(({
                heading: 265,
                pitch: 0
            }));
        });

        //Agregamos el marcador al array de marcadores
        markers.push(marker);


    })


    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
        { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });





}



    function myFunction(ID, store, customer, date, representatives, comment ) {
        var id_mapitem = document.getElementById("map_id");
        var store_mapitem = document.getElementById("map_storename");
        var store_customeritem = document.getElementById("map_customername");
        var store_dateitem = document.getElementById("map_date");
        var store_representativeitem = document.getElementById("map_representatives");
        var store_commentitem = document.getElementById("map_comment");


        id_mapitem.innerText = "";
        store_mapitem.innerText = "";
        store_customeritem.innerText = "";
        store_dateitem.innerText = "";
        store_representativeitem.innerText = "";
        store_commentitem.innerText = "";

        id_mapitem.innerText = "Visit ID: " + ID;
        store_mapitem.innerText = "Store: " + store;
        //store_customeritem.innerText = "Customer: " + customer;
        store_dateitem.innerText = "Date: " + date;
        store_representativeitem.innerText = "Route: " + representatives;
        store_commentitem.innerText = "Comment: " + comment;

        var x = document.getElementById("RouteDetails");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            //x.style.display = "none";
        }
    }

    </script>
    <!--PARA CERRAR DIV MAP-->
    <script>
        var button = document.getElementById('close_divmap'); // Assumes element with id='button'

        button.onclick = function () {
            var div = document.getElementById('RouteDetails');
            div.style.display = 'none';

        };

    </script>


    <script>
    $(function () {
        $('#click_filter').click(function () {


            var st = new Date($('#reportrange').data('daterangepicker').startDate);
            var ed = new Date($('#reportrange').data('daterangepicker').endDate);

            var idstore = document.getElementById('filterstore').value;


        var url = '@Url.Action("Main", "Home", new { fstartd = "START", fendd = "FINISH", store="STORE"})';


            url = url.replace('START', st.toLocaleDateString());

            url = url.replace('STORE', idstore);
        var newurl = url;


            newurl = newurl.replace('FINISH', ed.toLocaleDateString());
        newurl = newurl.replace(/&amp;/g, "&");
        //alert(newurl);
        window.location.href = newurl;




        });
    });





    </script>



}
<!--FORM BUILDER-->
@if (ViewBag.Title == "Comercia Marketing - FormsM")
{
    @Html.Partial("~/Views/Shared/FormBuilderScriptM.cshtml")



}

@if (ViewBag.Title == "Comercia Marketing - RoutesM details")
{
    <script>
    'use strict';
    // This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {

    var map = new google.maps.Map(document.getElementById('map-with-marker'), {
        zoom: 5,
        scrollwheel: true,
        center: { lat: 35.2289067, lng: -86.885620 }

    });

    var data = @Html.Raw(ViewBag.routes_map);
    var markers = [];
    // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
    $.each(data, function (i, item) {
        var marker = new google.maps.Marker({
            'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
            'map': map,
            'title': item.PlaceName
        });


        // Make the marker-pin blue!
        if (item.demo_state == 3) {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/orange-dot.png')
        }
        if (item.demo_state == 2) {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/green-dot.png')
        }
        if (item.demo_state == 1) {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/red-dot.png')
        }
        if (item.demo_state == 4) {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/blue-dot.png')
        }

        // put in some information about each json object - in this case, the opening hours.

        //colocamos la url de la demo
        //var url = '@Url.Action("PreviewSendDemoResume", "Demos", new { id = "DEMOID" })';


        //url = url.replace('DEMOID', item.id);

        //var infowindow = new google.maps.InfoWindow({
        //    content: "<div class='infoDiv'><h8>Place: " + item.store + ".</h8><br>" + "<div><h8>Customer: " + item.customer + ".</h8><br><h8>Visit date: " + item.date + ".</h8><br><h8>Representatives: " + item.representatives + ".</h8><br><h8>Comment: " + item.comment + ".</h8><br><a href='" + "#" + "' class='btn btn-primary' target='_blank'>Preview</a></div></div>"
        //});

        // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
        google.maps.event.addListener(marker, 'click', function () {
            //infowindow.open(map, marker);
            myFunction(item.id, item.store, item.customer, item.date, item.representatives, item.comment);
        });

        marker.addListener('dblclick', function () {
            map.setZoom(18);
            map.setCenter(marker.getPosition());

            // We get the map's default panorama and set up some defaults.
            // Note that we don't yet set it visible.
            panorama = map.getStreetView();
            panorama.setPosition(marker.getPosition());
            panorama.setPov(({
                heading: 265,
                pitch: 0
            }));
        });

        //Agregamos el marcador al array de marcadores
        markers.push(marker);


    })


    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
        { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });

           }



    function myFunction(ID, store, customer, date, representatives, comment ) {
        var id_mapitem = document.getElementById("map_id");
        var store_mapitem = document.getElementById("map_storename");
        var store_customeritem = document.getElementById("map_customername");
        var store_dateitem = document.getElementById("map_date");
        var store_representativeitem = document.getElementById("map_representatives");
        var store_commentitem = document.getElementById("map_comment");


        id_mapitem.innerText = "";
        store_mapitem.innerText = "";
        store_customeritem.innerText = "";
        store_dateitem.innerText = "";
        store_representativeitem.innerText = "";
        store_commentitem.innerText = "";

        id_mapitem.innerText = "Visit ID: " + ID;
        store_mapitem.innerText = "Store: " + store;
        //store_customeritem.innerText = "Customer: " + customer;
        store_dateitem.innerText = "Date: " + date;
        store_representativeitem.innerText = "Representatives: " + representatives;
        store_commentitem.innerText = "Comment: " + comment;

        var x = document.getElementById("RouteDetails");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            //x.style.display = "none";
        }
    }

    </script>
    <!--PARA CERRAR DIV MAP-->
    <script>
        var button = document.getElementById('close_divmap'); // Assumes element with id='button'

        button.onclick = function () {
            var div = document.getElementById('RouteDetails');
            div.style.display = 'none';

        };

    </script>
}

<script>
    $(document).ready(function () {
        $('#storesM').on('change', function () {
            var conceptName = $('#storesM').find(":selected").text();

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            alert(valueSelected);
        });
    });

</script>

<!--SELECT MULTI ROUTES-->
@if (ViewBag.Title == "Comercia Marketing - RoutesM")
{
    <script>

    $(document).ready(function () {





        var json = JSON.parse('@Html.Raw(ViewBag.stores)')

        var FRUIT_GROUPS = $.map(json, function (obj) {
            obj.id = obj.id; // replace pk with your identifier
            obj.text = obj.text;
            obj.children = obj.children;
            return obj;
        });


        $('#storesmulti').select2({
            multiple: true,
            placeholder: "Select stores...",
            data: FRUIT_GROUPS,
            theme: 'bootstrap'
        }).on('select2-selecting', function (e) {
            var $select = $(this);
            if (e.val == '') {
                e.preventDefault();
                $select.select2('data', $select.select2('data').concat(e.choice.children));
                $select.select2('close');
            }
        });


    @*var json = JSON.parse('@Html.Raw(ViewBag.usuarios)')

    var data = $.map(json, function (obj) {
        obj.id = obj.id; // replace pk with your identifier
        obj.text = obj.text;
        return obj;
    });

    $("#repmulti").select2({
        multiple: true,
        placeholder: "Select representatives...",
        data: data

    });*@



        @*var json = JSON.parse('@Html.Raw(ViewBag.activitieslist)')

    var data = $.map(json, function (obj) {
        obj.id = obj.id; // replace pk with your identifier
        obj.text = obj.text;
        return obj;
    });



        $('#typesAmulti').select2({
            multiple: true,
            placeholder: "Select activities...",
            data: data,
            query: function (options) {
                var selectedIds = options.element.select2('val');
                var selectableGroups = $.map(this.data, function (group) {
                    var areChildrenAllSelected = true;
                    $.each(group.children, function (i, child) {
                        if (selectedIds.indexOf(child.id) < 0) {
                            areChildrenAllSelected = false;
                            return false; // Short-circuit $.each()
                        }
                    });
                    return !areChildrenAllSelected ? group : null;
                });
                options.callback({ results: selectableGroups });
            }
        }).on('select2-selecting', function (e) {
            var $select = $(this);
            if (e.val == '') {
                e.preventDefault();
                $select.select2('data', $select.select2('data').concat(e.choice.children));
                $select.select2('close');
            }
        });*@


    });
    </script>
}
<!--SELECT MULTI ROUTES-->
@if (ViewBag.Title == "Comercia Marketing - Representatives")
{
    <script>

    $(document).ready(function () {


    var json = JSON.parse('@Html.Raw(ViewBag.customers)')

    var data = $.map(json, function (obj) {
        obj.id = obj.ID; // replace pk with your identifier
        obj.text = obj.Name;
        return obj;
    });

        $("#Customersmulti").select2({
        multiple: true,
        placeholder: "Select customers...",
        data: data

    });


        $("#CustomersmultiE").select2({
            multiple: true,
            placeholder: "Select customers...",
            data: data

        });
  });
    </script>
}
<script>
    $(function () {
        $('#click_filter').click(function () {


            var st = new Date($('#reportrange').data('daterangepicker').startDate);
            var ed = new Date($('#reportrange').data('daterangepicker').endDate);

        var url = '@Url.Action("RoutesM", "Home", new { fstartd = "START", fendd = "FINISH"})';


            url = url.replace('START', st.toLocaleDateString());

        var newurl = url;


            newurl = newurl.replace('FINISH', ed.toLocaleDateString());
        newurl = newurl.replace(/&amp;/g, "&");
        //alert(newurl);
        window.location.href = newurl;




        });
    });
</script>


<!--NOTIFICACIONES GLOBALES-->

@if (TempData["error"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
                $.toast({
                    heading: 'Danger',
                    text: '@(TempData["error"])',
                    showHideTransition: 'slide',
                    icon: 'error',
                    loaderBg: '#800000',
                    position: 'top-right'
                })

        };
    </script>
}


@if (TempData["advertencia"] != null)
{
    <script type="text/javascript">
        window.onload = function () {

                $.toast({
                    heading: 'Warning',
                    text: '@(TempData["advertencia"])',
                    showHideTransition: 'slide',
                    icon: 'warning',
                    loaderBg: '#ff9900',
                    position: 'top-right'
                })

        };
    </script>
}


@if (TempData["exito"] != null)
{
    <script type="text/javascript">
        console.log("Success");

        $(document).ready(function () {

                $.toast({
                    heading: 'Success',
                    text: '@(TempData["exito"])',
                    showHideTransition: 'slide',
                    icon: 'success',
                    loader: false,
                    loaderBg: '#004d00',
                    position: 'top-right'
                })
        });
    </script>
}

<script>
    $(document).ready(function () {
        (function ($) {
            showSuccessToast = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Success',
                    text: 'Saved.',
                    loader: false,
                    showHideTransition: 'slide',
                    icon: 'success',
                    loaderBg: '#004d00',
                    position: 'top-right'
                })
            };
            showInfoToast = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Info',
                    text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                    showHideTransition: 'slide',
                    icon: 'info',
                    loaderBg: '#46c35f',
                    position: 'top-right'
                })
            };
            showWarningToast = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Warning',
                    text: 'Wrong email or password.',
                    showHideTransition: 'slide',
                    icon: 'warning',
                    loaderBg: '#ff9900',
                    position: 'top-right'
                })
            };
            showDangerToast = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Danger',
                    text: 'And these were just the basic demos! Scroll down to check further details on how to customize the output.',
                    showHideTransition: 'slide',
                    icon: 'error',
                    loaderBg: '#f2a654',
                    position: 'top-right'
                })
            };
            showWarning = function () {
                'use strict';
                resetToastPosition();
                $.toast({
                    heading: 'Warning',
                    text: 'Whooaaa! Something went wrong...',
                    showHideTransition: 'slide',
                    icon: 'warning',
                    loaderBg: '#ff9900',
                    position: 'top-right'
                })
            };


        })(jQuery);
    });
</script>

<!--FIN NOTIFICACIONES GLOBALES-->
<!--TEMPLATE PREVIEW AND SAVE TEMPLATE ACTIVITY-->
@if (ViewBag.Title == "Comercia Marketing - Template preview" || ViewBag.Title == "Comercia Marketing - Activity")
{

    @Html.Partial("~/Views/Shared/ActivityScripts.cshtml")
}

@if (ViewBag.Title == "Comercia Marketing - Template preview2")
{
    @Html.Partial("~/Views/Shared/ActivityraScripts.cshtml")
}
@if (ViewBag.Title == "Comercia Marketing - Store_stats")
{
    @Html.Partial("~/Views/Shared/visitScript.cshtml")
}

<script>
    $(document).ready(function () {

        $(".owl-example").owlCarousel({
            // Most important owl features
            items: 5,
            itemsCustom: false,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [980, 3],
            itemsTablet: [768, 2],
            itemsTabletSmall: false,
            itemsMobile: [479, 1],
            singleItem: false,
            itemsScaleUp: false,

            //Basic Speeds
            slideSpeed: 200,
            paginationSpeed: 800,
            rewindSpeed: 1000,

            //Autoplay
            autoPlay: false,
            stopOnHover: false,

            // Navigation
            navigation: false,
            navigationText: ["prev", "next"],
            rewindNav: true,
            scrollPerPage: false,

            //Pagination
            pagination: true,
            paginationNumbers: false,

            // Responsive
            responsive: true,
            responsiveRefreshRate: 200,
            responsiveBaseWidth: window,

            // CSS Styles
            baseClass: "owl-carousel",
            theme: "owl-theme",

            //Lazy load
            lazyLoad: false,
            lazyFollow: true,
            lazyEffect: "fade",

            //Auto height
            autoHeight: false,

            //JSON
            jsonPath: false,
            jsonSuccess: false,

            //Mouse Events
            dragBeforeAnimFinish: true,
            mouseDrag: true,
            touchDrag: true




        });


    });
</script>

<script>



    $(document).ajaxStart(function () {
        $("#loading").show();
    }).ajaxStop(function () {
        $("#loading").hide();
    }).ajaxError(function () {
        $("#loading").hide();
    });
</script>

<script>
    $(function () {
        $('#clickdiv').click(function () {
            screenfull.request($('#contain22')[0]);
        });
    });
</script>

@if (ViewBag.Title == "Comercia Marketing - Store_stats")
{
    <script>

        function BuildEditorHeader(array) {

            array.forEach(function (element, root) {
                var $th;
                var $tr = "<tr id='headerR'></tr>";
                $("#resultsRetail thead").append($tr);
                // <!--PARA SUBTITULOS EN ESTE CASO SERA EL HEADER
                if (element.id_resource == "8") {

                    $th = "<th>" + element.fsource + "</th>";
                }

                $('#headerR').append($th);
            });
        };

        function BuildEditorRows(array) {

            array.forEach(function (element) {
                var $tr = "<tr></tr>";
                var $td;
                // <!--PARA SUBTITULOS EN ESTE CASO SERA EL HEADER
                if (element.id_resource == "3") { //Products

                    $td = "<td scope='col' style='text-align:left'><strong>" + element.fdescription + "</strong></td>";
                    $("#resultsRetail tbody").append($tr);
                    $("#resultsRetail tr:last").append($td);

                    if (element.children != null) {
                        BuildEditorRows(element.children);
                    }
                }

                if (element.id_resource == "16") { //Multiple_choice

                    $td = "<td data-label='" + element.fsource + "'>";

                    if (element.fvalue != 0) {

                        $td += "<i class='mdi mdi-check icon-sm text-success'></i></td>";
                    } else {
                        $td += "</td>";
                    }


                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "18") { //Input_number

                    $td = "<td data-label='" + element.fsource + "'>";

                    $td += "<label>" + element.fvalue + "</label>";
                    $td += "</td>";

                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "21") { //Currency

                    $td = "<td data-label='" + element.fsource + "'>";

                    $td += "$ <label>" + element.fvalueDecimal + "</label>";
                    $td += "</td>";

                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "6") { ///Input_text

                    $td = "<td data-label='" + element.fsource + "'>";

                    $td += "<label>" + element.fsource + "</label>";
                    $td += "</td>";

                    $('#resultsRetail tr:last').append($td);
                }
            });
        };

        (function ($) {
            'use strict';
            $('#infoRetailModal').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget);// Button that triggered the modal

                var IDform = $(event.relatedTarget).data("idform");// Extract info from data-* attributes
                var DesAct = $(event.relatedTarget).data("name");


                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                //modal.find('.modal-title').text('Edit data: ' + recipient)

                $.ajax
                    ({
                        url: '/Home/Getformdata',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id_activity: IDform
                        }),
                        success: function (result) {


                            $("#resultsRetail").find("tr").remove();
                            $("#descriptionUDM").text(DesAct);

                            BuildEditorHeader(result);
                            BuildEditorRows(result);

                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });




            })
        })(jQuery);

    </script>

    <script>
        window.onload = function () {

            (function ($) {
                'use strict';
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDAct = button.data("id");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_activityD"]').val(IDAct);
                    $("#descriptionD").text(DesAct);

                })
            })(jQuery);

            (function ($) {
                'use strict';
                $('#deleteRepModal').on('show.bs.modal', function (event) {


                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDRep = button.data("id");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_repUD"]').val(IDRep);
                    $("#descriptionUD").text(DesAct);

                })
            })(jQuery);
        


            (function ($) {
                'use strict';
                $('#copyModal').on('show.bs.modal', function (event) {


                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDRep = button.data("activity");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_activityCopy"]').val(IDRep);
                    $("#descriptionCopy").text(DesAct);

                })
            })(jQuery);
        }

    </script>
    if (ViewBag.estadovisita == 3)
    {
        if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
        { }
        else
        {
            <script>
                window.onload = function () {
                    $("#activitiesdiv").addClass("disable")
                        .click(function () {
                            return false;
                        });
                }
            </script>
        }

    }
}

@if (ViewBag.Title == "Comercia Marketing - Brand competitors")
{
    <script>

        function getbrands() {
            var customerId = $("#customer_list").val();



            $.ajax
                ({
                    url: '/Home/Getbrands',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        customerID: customerId

                    }),
                    success: function (result) {

                        $("#brands_list").html("");
                        $("#brands_list").append($('<option></option>').val(0).html("Select a Brand"))
                        $.each($.parseJSON(result), function (i, brands) {

                            $("#brands_list").append
                                ($('<option></option>').val(brands.FirmCode).html(brands.FirmName));



                        }

                        )

                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });



        }

        (function ($) {
            'use strict';
            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);// Button that triggered the modal

                var ID = button.data("id");// Extract info from data-* attributes



                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                //modal.find('.modal-title').text('Edit data: ' + recipient)
                modal.find('.modal-body input[name="idbrandD"]').val(ID);


            })
        })(jQuery);
    </script>
}
@if (ViewBag.Title == "Comercia Marketing - Store_stats")
{
    <script>

            function getCustomers() {
                var Idrep = $("#ID_rep").val();

                if (Idrep == "0" || Idrep == null) {

                } else {

                    $.ajax
                        ({
                            url: '/VisitsMs/GetCustomer_reps',
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                ID_usuario: Idrep
                            }),
                            success: function (result) {

                                $("#ID_customer").html("");
                                $("#ID_customer").append($('<option></option>').val(0).html("Select a customer"))
                                $.each($.parseJSON(result), function (i, brands) {
                                    if (brands.isselected) {//si esta seleccionado
                                        $("#ID_customer").append
                                            ($('<option selected></option>').val(brands.ID).html(brands.Name));


                                    } else {
                                        $("#ID_customer").append
                                            ($('<option></option>').val(brands.ID).html(brands.Name));
                                    }


                                }

                                )
                                $("#loading").hide();

                            },
                            error: function () {
                                alert("Whooaaa! Something went wrong..")
                                $("#loading").hide();
                            },
                        });
                }


            }

    </script>
}