
@{
    Layout = null;
}

<!-- Header -->

<header class="header trans_300">

    <!-- Top Navigation -->

    <div class="top_nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="top_nav_left">Representación y desarrollo de marcas</div>-->
                </div>
                <div class="col-md-6 text-right">
                    <div class="top_nav_right">
                        <ul class="top_nav_menu">

                            <!-- Currency / Language / My Account -->
                            <!--
                                                            <li class="currency">
                                                                <a href="#">
                                                                    usd
                                                                    <i class="fa fa-angle-down"></i>
                                                                </a>
                                                                <ul class="currency_selection">
                                                                    <li><a href="#">cad</a></li>
                                                                    <li><a href="#">aud</a></li>
                                                                    <li><a href="#">eur</a></li>
                                                                    <li><a href="#">gbp</a></li>
                                                                </ul>
                                                            </li>
                                                            
                            <li class="language">
                                <a href="#">
                                    Español
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="language_selection">
                                    <li><a href="#">Inglés</a></li>
                                </ul>
                            </li>-->
                            @if (ViewBag.Title == "Comercia Marketing - W9" || ViewBag.Title == "Comercia Marketing - Demo" || ViewBag.Title == "Comercia Marketing - Demo preview")
                            {

                            }
                            else {
                                <li class="account">
                                <a href="#">
                                    @ViewBag.usuario
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="account_selection">
                                    <li><a href="@Url.Action("Settings", "Home")"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a></li>
                                    <li><a href="@Url.Action("Cerrar_sesion", "Home")"><i class="fa fa-sign-in" aria-hidden="true"></i>Log out</a></li>
                                </ul>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->

    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <div class="logo_container">
                        <img src="~/Content/images/LogoPNG-1.png" height="60" width="190">
                    </div>
                    <nav class="navbar">

                                                    @if (ViewBag.Title == "Comercia Marketing - W9" || ViewBag.Title == "Comercia Marketing - Demo" || ViewBag.Title == "Comercia Marketing - Demo preview")
                                                    {

                                                    }
                                                    else
                                                    {
                        if (Session["tipousuario"].ToString() == "1")
                        {
                        <ul class="navbar_menu">
                            <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Empresas")">Customers</a></li>
                            <li><a href="@Url.Action("Index", "Demos")">Demos</a></li>
                        </ul>
                        }
                        else if (Session["tipousuario"].ToString() == "2" || Session["tipousuario"].ToString() == "3" || Session["tipousuario"].ToString() == "4")
                        {
                        <ul class="navbar_menu">
                            <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                            
                        </ul>
                        }
                        else
                        {
                        <ul class="navbar_menu">
                            <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Demos")">Demos</a></li>
                            <li><a href="@Url.Action("Gallery", "Home")">Demo gallery</a></li>

                        </ul>
                        }
                        <div class="hamburger_container">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                                                    }
                    </nav>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="fs_menu_overlay"></div>

<!-- Hamburger Menu -->

<div class="hamburger_menu">
    <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="hamburger_menu_content text-right">
        <ul class="menu_top_nav">
            <!--
        <li class="menu_item has-children">
            <a href="#">
                usd
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="menu_selection">
                <li><a href="#">cad</a></li>
                <li><a href="#">aud</a></li>
                <li><a href="#">eur</a></li>
                <li><a href="#">gbp</a></li>
            </ul>
        </li>
        -->
                                        @if (ViewBag.Title == "Comercia Marketing - W9" || ViewBag.Title == "Comercia Marketing - Demo" || ViewBag.Title == "Comercia Marketing - Demo preview")
                                        {

                                        }
                                        else
                                        {
                                            if (Session["tipousuario"].ToString() == "1")
                                            {
                            <li class="menu_item"><a href="@Url.Action("Main", "Home")">Home</a></li>
                            <li class="menu_item"><a href="@Url.Action("Index", "Empresas")">Customers</a></li>
                            <li class="menu_item"><a href="@Url.Action("Index", "Demos")">Demos</a></li>


                                            }
                                            else if (Session["tipousuario"].ToString() == "2" || Session["tipousuario"].ToString() == "3" || Session["tipousuario"].ToString() == "4")
                                            {
                        <li class="menu_item"><a href="@Url.Action("Main", "Home")">Home</a></li>
                        <li class="menu_item"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
                                            }
                                            else
                                            {
                           <li class="menu_item"><a href="@Url.Action("Main", "Home")">Home</a></li>
                           <li class="menu_item"><a href="@Url.Action("Index", "Demos")">Demos</a></li>
                           <li class="menu_item"><a href="@Url.Action("Gallery", "Home")">Demo gallery</a></li>
                                            }

            <!--
            <li class="menu_item has-children">
                <a href="#">
                    Español
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="#">Inglés</a></li>
                </ul>
            </li>
                -->
            <li class="menu_item has-children">
                <a href="#">
                    @ViewBag.usuario
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="menu_selection">
                    <li><a href="@Url.Action("Settings", "Home")"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
                    <li><a href="@Url.Action("Cerrar_sesion", "Home")"><i class="fa fa-sign-in" aria-hidden="true"></i>Log out</a></li>
                </ul>
            </li>
                                        }

        </ul>
    </div>
</div>