@model List<comerciamarketing_webapp.Controllers.CustomersController.CustomVisit>
@{
    ViewBag.title = "Comercia Marketing - Customers Dashboard";

    var modelcount = Model.Count();
    if (modelcount == 0)
    {
        modelcount = 1;
    }

}


<!-- ############ Content START-->
<div id="content" class="flex ">
    <!-- ############ Main START-->
    <div>
        <div class="page-hero page-container " id="page-hero">
            <div class="padding d-flex">
                <div class="page-title">
                    <h2 class="text-md text-highlight">Dashboard</h2>
                    <small class="text-muted">
                        Welcome,
                        <strong>@ViewBag.username</strong>
                    </small>
                </div>
                <div class="flex"></div>

            </div>
        </div>
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row row-sm sr">
                    <div class="col-md-12 col-lg-12">
                        <div class="row row-sm">
                            <div class="col-md-12 col-lg-8">
                                <div class="row row-sm">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row row-sm">
                                                    <div class="col-5">
                                                        <small class="text-muted">Your membership</small>
                                                        <div class="mt-2 font-weight-500"><span class="text-info">@ViewBag.Membresia</span></div>
                                                    </div>
                                                    <div class="col-7">
                                                        <small class="text-muted">Your company</small>
                                                        <div class="text-highlight mt-2 font-weight-500">@ViewBag.Company</div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="row row-sm">
                                    <div class="col-md-12 d-flex">
                                        <div class="card flex">
                                            <div class="card-body">
                                                <div class="row row-sm">
                                                    <div class="col-sm-12">
                                                        <div class="mb-2">
                                                            <small class="text-muted">Visits statistics</small>
                                                        </div>
                                                        <div class="row row-sm">
                                                            <div class="col-4">
                                                                <div class="text-highlight text-md">@Model.Count()</div>
                                                                <small>Visits</small>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="text-md">@Model.Where(a => a.ID_visitstate == 4).Count()</div>
                                                                <small>Finished</small>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="text-danger text-md">@Model.Where(a => a.ID_visitstate == 3 || a.ID_visitstate == 2).Count()</div>
                                                                <small>Remain</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12">
                                                        <div class="mb-2 mt-2 mt-sm-0">
                                                            <small class="text-muted"></small>
                                                        </div>
                                                        <div>Visits completion</div>
                                                        <div class="progress no-bg mt-2 align-items-center circle" style="height:6px;">
                                                            <div class="progress-bar circle gd-danger" style="width: @Math.Round((Convert.ToDecimal(Model.Where(a => a.ID_visitstate == 4).Count())/ Convert.ToDecimal(modelcount)*100),2)%"></div>
                                                            <span class="mx-2">@Math.Round((Convert.ToDecimal(Model.Where(a => a.ID_visitstate == 4).Count()) / Convert.ToDecimal(modelcount) * 100), 2)%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 col-lg-4 d-flex">
                                <div class="card flex">
                                    <div class="card-body">
                                        <div class="px-4">
                                            <div id="jqvmap-usa" style="height: 200px" class="d-flex align-items-center justify-content-center">

                                            </div>
                                            <div class="text-center mb-3">
                                                <small class="text-muted">Your top states(Visits)</small>
                                            </div>
                                            <div class="row text-center">
                                                @foreach (var item in ViewBag.estadisticasEstadosmapa)
                                                {
                                                    <div class="col">
                                                        <span class="text-primary">@item.State</span>
                                                        <div class="text-muted text-sm">@item.Count</div>
                                                    </div>

                                                }



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    @*<div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex">
                                            <div class="text-highlight">@ViewBag.TNperc%</div>
                                            <small class="h-1x">Distribuidora Limena TN</small>
                                        </div>
                                        <div>
                                            @*<small class="text-muted">Products</small>*
                                        </div>
                                    </div>
                                    <div class="w-50" style="height: 30px;">
                                        <canvas data-plugin="chartjs" id="chart-line-1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex">
                                            <div class="text-highlight">@ViewBag.GAperc%</div>
                                            <small class="h-1x">Distribuidora Limena GA</small>
                                        </div>
                                        <div>
                                            @*<small class="text-muted">Products</small>*
                                        </div>
                                    </div>
                                    <div class="w-50" style="height: 30px;">
                                        <canvas data-plugin="chartjs" id="chart-line-2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-md-8">
                            <div class="card">
                                <div class="p-3-4">
                                    <div class="d-flex mb-3">
                                        <div>
                                            <div>Activities by Brand</div>
                                            <small class="text-muted">All brands: @ViewBag.brands.Count</small>
                                        </div>
                                        <span class="flex"></span>
                                    </div>
                                    <div class="p-2" style="height: 364px">
                                        <canvas id="chart-brands"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row row-sm">
                                <div class="col-md-12 d-flex">
                                    <div class="card flex">
                                        <div class="p-3-4">
                                            <div class="d-flex">
                                                <div>
                                                    <div>Activities</div>
                                                    <small class="text-muted">By type</small>
                                                </div>
                                                <span class="flex"></span>
                                                <div>
                                                    <a href="#" class="p-1 text-muted">
                                                        <i data-feather="more-horizontal"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list list-row">
                                            @foreach (var lsttype in ViewBag.lstTypes)
                                            {
                                                <div class="list-item " data-id="@lsttype.id">
                                                    <div>
                                                        <span class="badge badge-circle text-info"></span>
                                                    </div>
                                                    <div class="flex">
                                                        <a href="#" class="item-title text-color h-1x">@lsttype.name</a>
                                                    </div>
                                                    <div>
                                                        <span class="item-amount text-sm text-muted">
                                                            @lsttype.count
                                                        </span>
                                                    </div>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>*@



                </div>
            </div>
        </div>
    </div>
    <!-- ############ Main END-->
</div>
<!-- ############ Content END-->
@Html.Partial("~/Views/Shared/FilterControlCustomer.cshtml")