@model comerciamarketing_webapp.Models.user_form_w9

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>user_form_w9</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.business_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.business_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.individual)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.individual)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ccorporation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ccorporation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.scorporation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.scorporation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.partnership)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.partnership)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.trust)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.trust)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.limited)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.limited)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tax_classification)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tax_classification)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.other)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.other)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.other_text)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.other_text)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.exempt_payeecode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.exempt_payeecode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.exempt_fatcacode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.exempt_fatcacode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.city_state_zipcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.city_state_zipcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.list_account_nummber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.list_account_nummber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.requestername_address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.requestername_address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.social_securitynum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.social_securitynum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.employer_idnum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.employer_idnum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.signature)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.signature)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sigdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sigdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.iscomplete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.iscomplete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ID_usuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ID_usuario)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
